mixin dropDown(cl_name,classComp,label,value,typeD,nameD,masElem,modif='',button=false,flLabel=false)
	- let className = classComp+' '+cl_name+'__'+classComp+' '+modif
	div(class=className)
		- if(!flLabel){
		label(class=classComp+"__label" for="form-"+nameD)= label
		-}
		p(class=classComp+"__wrap")
			input(class=classComp+"__input" type=typeD placeholder=value value='' name=nameD id="form-"+nameD)
			img(class=classComp+"__tip" src="assets/img/inetrface/tip.svg" alt="" style="width: 13px;")
		ul(class=classComp+"__select")
			- for(let i=0; i<masElem[0].length; i++)	{
				li(class=classComp+"__select-item" data-type= masElem[1][i])
					p(class=classComp+"__text")= masElem[0][i] 
					img(class=classComp+"__minus" src="assets/img/inetrface/minus.svg" alt="" style="width: 30px;")
					span(class=classComp+"__value") 0
					img(class=classComp+"__plus" src="assets/img/inetrface/plus.svg" alt="" style="width: 30px;")
			-}
			-if(button){
			li(class=classComp+"__buttons")
				span(class=classComp+"__button-clear") очистить
				span(class=classComp+"__button-apply") применить
			-}
				