mixin pagination(options)
  -
    const label = options.label ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel ?? false
    const classComp = 'pagination'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}

  div(class=className)
    - if(!flLabel){
    p(class=classComp+'__header')= label
    -}
    
    div(class=classComp+'__links')
      //- a(class=classComp+'__prev' href='https://test/test' aria-label='пагинация страницы - стрелка назад' title='предыдущая страница')
      //-   img(class=classComp+'__prev-img' src='assets/images/pagination/img/arrow_forward.svg', alt='prev')
      span(class=classComp+'__current') 1
      a(class=classComp+'__page-numbers' href='https://test/test' aria-label='пагинация страницы 2') 2
      a(class=classComp+'__page-numbers' href='https://test/test' aria-label='пагинация страницы 3') 3
      span(class=classComp+'__dots') ...
      a(class=classComp+'__page-numbers' href='https://test/test' aria-label='пагинация страницы 15') 15
      a(class=classComp+'__next' href='https://test/test' aria-label='пагинация страницы - стрелка дальше' title='следующая страница')
        img(class=classComp+'__next-img' src=require('@com/pagination/img/arrow_forward.svg').default, alt='next')
    p(class=classComp+'__text') 1 – 12 из 100+ вариантов аренды
    