mixin pagination(options = {})
  -
    const {
      label = '',
      isButtonPrev = false
    } = options;

    const BASE_CLASS = 'pagination'

  div(class=BASE_CLASS)
    if label
      h2(class=`${BASE_CLASS}__header`)= label
    
    div(class=`${BASE_CLASS}__links`)
      if isButtonPrev
        a(class=`${BASE_CLASS}__prev` href='https://change-me' aria-label='пагинация страницы - стрелка назад' title='предыдущая страница')
          img(class=`${BASE_CLASS}__prev-img` src=require('./img/arrow-forward.svg'), alt='prev')
      span(class=`${BASE_CLASS}__current`) 1
      a(class=`${BASE_CLASS}__page-numbers` href='https://change-me' aria-label='пагинация страницы 2') 2
      a(class=`${BASE_CLASS}__page-numbers` href='https://change-me' aria-label='пагинация страницы 3') 3
      span(class=`${BASE_CLASS}__dots`) ...
      a(class=`${BASE_CLASS}__page-numbers` href='https://change-me' aria-label='пагинация страницы 15') 15
      a(class=`${BASE_CLASS}__next` href='https://change-me' aria-label='пагинация страницы - стрелка дальше' title='следующая страница')
        img(class=`${BASE_CLASS}__next-img` src=require('./img/arrow-forward.svg'), alt='next')
    p(class=`${BASE_CLASS}__text`) 1 – 12 из 100+ вариантов аренды
    