mixin pagination(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'pagination'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=className)
    - if(!isLabeled){
        p(class=`${classComponent}__header`)= label
    -}
    
    div(class=`${classComponent}__links`)
      //- a(class=`${classComponent}__prev` href='https://change-me' aria-label='пагинация страницы - стрелка назад' title='предыдущая страница')
      //-   img(class=`${classComponent}__prev-img` src='assets/images/pagination/img/arrow-forward.svg', alt='prev')
      span(class=`${classComponent}__current`) 1
      a(class=`${classComponent}__page-numbers` href='https://change-me' aria-label='пагинация страницы 2') 2
      a(class=`${classComponent}__page-numbers` href='https://change-me' aria-label='пагинация страницы 3') 3
      span(class=`${classComponent}__dots`) ...
      a(class=`${classComponent}__page-numbers` href='https://change-me' aria-label='пагинация страницы 15') 15
      a(class=`${classComponent}__next` href='https://change-me' aria-label='пагинация страницы - стрелка дальше' title='следующая страница')
        img(class=`${classComponent}__next-img` src=require('./img/arrow-forward.svg'), alt='next')
    p(class=`${classComponent}__text`) 1 – 12 из 100+ вариантов аренды
    