mixin style-text()
	- let className = 'style-text'
	div(class=className)
		h1(class=className+'__teg') h1 
		h1(class=className+'__text') This one is the sub-section or widget title
		h2(class=className+'__teg') h2 
		h2(class=className+'__text') Next one is the item title inside widgets
		h3(class=className+'__teg') h3
		h3(class=className+'__text') This is a label or CTA text
		span(class=className+'__teg') Body  
		p(class=className+'__text') 
			| This is the body text which is used for most<br>
			| of the design, like paragraphs, lists, etc.

