mixin graph(options)
  -
    let label = options.label ?? ''
    let modify = options.modify ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'graph'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}
  div(class=className+' js-'+classComp)
    - if(!flLabel){
      h2(class=classComp+'__header')= label
    -}
    div(class=classComp+'__wrapper')
      canvas(class=classComp+'__canvas'+' js-'+classComp+'__canvas' width='240' height='240')
      ul(class=classComp+'__colors')
        li(class=classComp+'__colors-item'+' js-'+classComp+'__colors-item' date-grade='130' date-name='excellent') Великолепно
        li(class=classComp+'__colors-item'+' js-'+classComp+'__colors-item' date-grade='65' date-name='good') Хорошо
        li(class=classComp+'__colors-item'+' js-'+classComp+'__colors-item' date-grade='65' date-name='satisfactorily') Удовлетворительно
        li(class=classComp+'__colors-item'+' js-'+classComp+'__colors-item' date-grade='0' date-name='disappointed') Разочарован
