mixin graph(options)
  -
    let label = options.label ?? ''
    let modify = options.modify ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'graph'
    let className = classComp
    const graphData = [
      ['130','excellent','Великолепно'],
      ['65','good','Хорошо'],
      ['65','satisfactorily','Удовлетворительно'],
      ['0','disappointed','Разочарован'],
    ]
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}

  div(class=className+' js-'+classComp)
    - if(!flLabel){
      h2(class=classComp+'__header')= label
    -}
    
    div(class=classComp+'__wrapper')
      canvas(class=classComp+'__canvas'+' js-'+classComp+'__canvas' width='240' height='240')
      ul(class=classComp+'__colors')
        each data in graphData
          li(class=classComp+'__colors-item'+' js-'+classComp+'__colors-item' date-grade=data[0] date-name=data[1])=data[2]
