mixin graph(options)
	-
		let label = options.label ?? ''
		let modif = options.modif ?? ''
		let addClass = options.class ?? ''
		let flLabel = options.flLabel ?? false
		let classComp = 'graph'
		let className = classComp
		if(modif){
		className += ' '+classComp+'_'+modif}
		if(addClass){
		className += ' '+addClass}
	div(class=className)
		- if(!flLabel){
			p(class=classComp+'__header')= label
		-}
		div(class=classComp+'__wrapper')
			canvas(class=classComp+'__convas' width='240' height='240')
			ul(class=classComp+'__colors')
				li(class=classComp+'__colors-item' date-grade='130' date-name='excellent') Великолепно
				li(class=classComp+'__colors-item' date-grade='65' date-name='good') Хорошо
				li(class=classComp+'__colors-item' date-grade='65' date-name='satisfactorily') Удовлетворительно
				li(class=classComp+'__colors-item' date-grade='0' date-name='disappointed') Разочарован
