mixin rate-button(options)
  -
    const label = options.label ?? ''
    const name = options.name ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel ?? false
    const classComp = 'rate-button'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}

    labels = [
    'Ужасно',
    'Плохо', 
    'Нормально', 
    'Хорошо', 
    'Отлично', 
    ]

  div(class=className)
    fieldset(class=classComp+'__stars') 
      - if(!flLabel){
      legend(class=classComp+'__header')= label
      -}
      
      div(class=classComp+'__group')
        - for(let i=0; i<labels.length; i++)  {
          input(class=classComp+'__star' type='radio' name=name value=i+1 aria-label=labels[i])
        -}