mixin radio-buttons(options = {})
  -
    const {
      label = '',
      items = [],
    } = options;
    const BASE_CLASS = 'radio-buttons'

  div(class=BASE_CLASS)
    fieldset(class=`${BASE_CLASS}__items`)
      if label
        legend(class=`${BASE_CLASS}__header`)= label
      each item in items
        label(class=`${BASE_CLASS}__label`)= item.title
          input(class=`${BASE_CLASS}__input` type='radio' name=item.name checked=item.isChecked)
          span(class=`${BASE_CLASS}__before`)

