mixin radio-buttons(options)
  -
    let label = options.label ?? ''
    let modify = options.modify ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'radio-buttons'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}

  div(class=className)
    fieldset(class=classComp+'__items') 
      - if(!flLabel){
        legend(class=classComp+'__header')= label
      -}

        label(class=classComp+'__label') Мужчина
          input(class=classComp+'__input' type='radio' name='gender' checked)
          span(class=classComp+'__bef')
          
        label(class=classComp+'__label') Женщина
          input(class=classComp+'__input' type='radio' name='gender')
          span(class=classComp+'__bef')

