mixin radio-buttons(options = {})
  -
    const {
      label = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'radio-buttons'
    let className = CLASS_COMPONENT

  if addClass
    - className += ` ${addClass}`
  

  div(class=className)
    fieldset(class=`${CLASS_COMPONENT}__items`)
      if label
        legend(class=`${CLASS_COMPONENT}__header`)= label
      

        label(class=`${CLASS_COMPONENT}__label`) Мужчина
          input(class=`${CLASS_COMPONENT}__input` type='radio' name='gender' checked)
          span(class=`${CLASS_COMPONENT}__before`)
          
        label(class=`${CLASS_COMPONENT}__label`) Женщина
          input(class=`${CLASS_COMPONENT}__input` type='radio' name='gender')
          span(class=`${CLASS_COMPONENT}__before`)

