mixin radio-buttons(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'radio-buttons'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=className)
    fieldset(class=`${classComponent}__items`)
      - if(!isLabeled){
          legend(class=`${classComponent}__header`)= label
      -}

        label(class=`${classComponent}__label`) Мужчина
          input(class=`${classComponent}__input` type='radio' name='gender' checked)
          span(class=`${classComponent}__before`)
          
        label(class=`${classComponent}__label`) Женщина
          input(class=`${classComponent}__input` type='radio' name='gender')
          span(class=`${classComponent}__before`)

