mixin radio-buttons(label = '')
  -
    const BASE_CLASS = 'radio-buttons'

  div(class=BASE_CLASS)
    fieldset(class=`${BASE_CLASS}__items`)
      if label
        legend(class=`${BASE_CLASS}__header`)= label
      
        label(class=`${BASE_CLASS}__label`) Мужчина
          input(class=`${BASE_CLASS}__input` type='radio' name='gender' checked)
          span(class=`${BASE_CLASS}__before`)
          
        label(class=`${BASE_CLASS}__label`) Женщина
          input(class=`${BASE_CLASS}__input` type='radio' name='gender')
          span(class=`${BASE_CLASS}__before`)

