include ../text-field/text-field.pug
include ../buttons/buttons.pug

mixin sign-in(options = {})
  -
    const {
      header = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'sign-in'
    let className = classComponent

    const data = require('./sign-in.json'); 

    const textField = data.textField
    const buttons = data.buttons

    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    header(class=`${classComponent}__header-wrap`)
      h1(class=`${classComponent}__header`)= header
    -}

    form(class=`${classComponent}__form` action='' method='post')
      fieldset(class=`${classComponent}__authorization`)

        div(class=`${classComponent}__email-wrap js-${classComponent}__email-wrap`)
          +text-field(textField.email)

        div(class=`${classComponent}__pass-wrap js-${classComponent}__pass-wrap`)
          +text-field(textField.password)

        div(class=`${classComponent}__button-wrap js-${classComponent}__button-wrap`)
          +buttons(buttons.submit)
          
      div(class=`${classComponent}__registration-wrap`)
        p(class=`${classComponent}__text-reg`) Нет аккаунта на Toxin ?
        +buttons(buttons.link)