include ../text-field/text-field.pug
include ../buttons/buttons.pug

mixin sign-in(options = {})
  -
    const {
      header = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'sign-in'
    let className = classComponent

    const {
      textField,
      buttons,
    } = require('./sign-in.json'); 

    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  article(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        header(class=`${classComponent}__header-wrapper`)
          h1(class=`${classComponent}__header`)= header
    -}

    form(class=`${classComponent}__form` action='' method='post')
      fieldset(class=`${classComponent}__authorization`)

        div(class=`${classComponent}__email-wrapper js-${classComponent}__email-wrapper`)
          +text-field(textField.email)

        div(class=`${classComponent}__password-wrapper js-${classComponent}__password-wrapper`)
          +text-field(textField.password)

        div(class=`${classComponent}__button-wrapper js-${classComponent}__button-wrapper`)
          +buttons(buttons.submit)
          
      div(class=`${classComponent}__registration-wrapper`)
        p(class=`${classComponent}__text-registration`) Нет аккаунта на Toxin ?
        +buttons(buttons.link)