include ../text-field/text-field.pug
include ../button/button.pug

mixin sign-in(options = {})
  -
    const {
      header = ''
    } = options;
    const BASE_CLASS = 'sign-in'

    const {
      textField,
      button,
    } = require('./sign-in.json'); 

  article(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if header
      header(class=`${BASE_CLASS}__header-wrapper`)
        h1(class=`${BASE_CLASS}__header`)= header

    form(class=`${BASE_CLASS}__form` action='https://change-me' method='post')
      fieldset(class=`${BASE_CLASS}__authorization`)

        div(class=`${BASE_CLASS}__email-wrapper js-${BASE_CLASS}__email-wrapper`)
          +text-field(textField.email)

        div(class=`${BASE_CLASS}__password-wrapper js-${BASE_CLASS}__password-wrapper`)
          +text-field(textField.password)

        div(class=`${BASE_CLASS}__button-wrapper js-${BASE_CLASS}__button-wrapper`)
          +button(button.submit)
          
      div(class=`${BASE_CLASS}__registration-wrapper`)
        p(class=`${BASE_CLASS}__text-registration`) Нет аккаунта на Toxin ?
        +button(button.link)