include ../text-field/text-field.pug
include ../buttons/buttons.pug

mixin sign-in(options = {})
  -
    const {
      header = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'sign-in'
    let className = CLASS_COMPONENT

    const {
      textField,
      buttons,
    } = require('./sign-in.json'); 

    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  article(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        header(class=`${CLASS_COMPONENT}__header-wrapper`)
          h1(class=`${CLASS_COMPONENT}__header`)= header
    -}

    form(class=`${CLASS_COMPONENT}__form` action='https://change-me' method='post')
      fieldset(class=`${CLASS_COMPONENT}__authorization`)

        div(class=`${CLASS_COMPONENT}__email-wrapper js-${CLASS_COMPONENT}__email-wrapper`)
          +text-field(textField.email)

        div(class=`${CLASS_COMPONENT}__password-wrapper js-${CLASS_COMPONENT}__password-wrapper`)
          +text-field(textField.password)

        div(class=`${CLASS_COMPONENT}__button-wrapper js-${CLASS_COMPONENT}__button-wrapper`)
          +buttons(buttons.submit)
          
      div(class=`${CLASS_COMPONENT}__registration-wrapper`)
        p(class=`${CLASS_COMPONENT}__text-registration`) Нет аккаунта на Toxin ?
        +buttons(buttons.link)