include ../text-field/text-field.pug
include ../buttons/buttons.pug

mixin sign-in(options = {})
  -
    const {
      header = '',
      addClass = '',
    } = options;

    const BASE_CLASS = 'sign-in'
    let className = BASE_CLASS

    const {
      textField,
      buttons,
    } = require('./sign-in.json'); 

  if addClass
    - className += ` ${addClass}`
  

  article(class=`${className} js-${BASE_CLASS}`)
    if header
      header(class=`${BASE_CLASS}__header-wrapper`)
        h1(class=`${BASE_CLASS}__header`)= header


    form(class=`${BASE_CLASS}__form` action='https://change-me' method='post')
      fieldset(class=`${BASE_CLASS}__authorization`)

        div(class=`${BASE_CLASS}__email-wrapper js-${BASE_CLASS}__email-wrapper`)
          +text-field(textField.email)

        div(class=`${BASE_CLASS}__password-wrapper js-${BASE_CLASS}__password-wrapper`)
          +text-field(textField.password)

        div(class=`${BASE_CLASS}__button-wrapper js-${BASE_CLASS}__button-wrapper`)
          +buttons(buttons.submit)
          
      div(class=`${BASE_CLASS}__registration-wrapper`)
        p(class=`${BASE_CLASS}__text-registration`) Нет аккаунта на Toxin ?
        +buttons(buttons.link)