include ../text-field/text-field.pug
include ../buttons/buttons.pug

mixin sign-in(options)
  -
    let header = options.header ?? ''
    let modify = options.modify ?? ''
    let addClass = options.class ?? ''
    let flLabel = options.flLabel ?? false
    let classComp = 'sign-in'
    let className = classComp
    if(modify){
    className += ' '+classComp+'_'+modify}
    if(addClass){
    className += ' '+addClass}
  article(class=className+' js-'+classComp)
    - if(!flLabel){
    header(class=classComp+'__header-wrap')
      h1(class=classComp+'__header')= header
    -}
    form(class=classComp+'__form' action='' method='post')
      fieldset(class=classComp+'__authorization')
        div(class=classComp+'__email-wrap'+' js-'+classComp+'__email-wrap')
          +text-field({
            flLabel:true,
            placeholder: 'Email',
            type: 'email',
            name: 'email'
          })
        div(class=classComp+'__pass-wrap'+' js-'+classComp+'__pass-wrap')
          +text-field({
            flLabel:true,
            placeholder: 'Пароль',
            type: 'password',
            name: 'password'
          })
        div(class=classComp+'__button-wrap'+' js-'+classComp+'__button-wrap')
          +buttons({
            text:'войти',
            type:'submit',
            modify:['submit']
          })
      div(class=classComp+'__registration-wrap')
        p(class=classComp+'__text-reg') Нет аккаунта на Toxin ?
        +buttons({
          text:'Создать',
          link:'https://test/test',
          type:'link',
          modify:['link-border']
        })