mixin toggleButtons(cl_name,classComp,label,label2,nameID,nameIn,flLabel=false,modif='')
	- let className = classComp+' '+cl_name+'__'+classComp+' '+modif
	div(class=className)
		- if(!flLabel){
		p(class=classComp+"__header")= label2
		-}
		p(class=classComp+"__tog")
			input(class=classComp+"__input" type='checkbox' name=nameIn id=nameID)
			label(class=classComp+"__label" for=nameID)= label
			a(class=classComp+"__bef" href="UrlNull")

