include ../date-dropdown/date-dropdown.pug
include ../drop-down/drop-down.pug
include ../buttons/buttons.pug

mixin search-room(options = {})
  -
    const {
      header = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'search-room'
    let className = CLASS_COMPONENT

    const {
      dateDropdown,
      dropDown,
      buttons,
    } = require('./search-room.json'); 

    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  article(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        header(class=`${CLASS_COMPONENT}__header-wrapper`)
          h1(class=`${CLASS_COMPONENT}__header`)= header
    -}

    form(class=`${CLASS_COMPONENT}__form` action='' method='post')
      fieldset(class=`${CLASS_COMPONENT}__date-wrapper js-${CLASS_COMPONENT}__date-wrapper`)
        +date-dropdown(dateDropdown)

      div(class=`${CLASS_COMPONENT}__dropdown-wrapper js-${CLASS_COMPONENT}__dropdown-wrapper`)
        +drop-down(dropDown)
          
      div(class=`${CLASS_COMPONENT}__button-wrapper js-${CLASS_COMPONENT}__button-wrapper`)
        +buttons(buttons)