include ../date-dropdown/date-dropdown.pug
include ../drop-down/drop-down.pug
include ../buttons/buttons.pug

mixin search-room(options)
  -
    const header = options.header ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const classComponent = 'search-room'
    let className = classComponent

    const path = require('path').resolve(
    'src/components/search-room/','search-room.json'
    )
    const data = JSON.parse(require('fs').readFileSync(path)); 

    const dateDropdown = data.dateDropdown
    const dropDown = data.dropDown
    const buttons = data.buttons

    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    header(class=`${classComponent}__header-wrap`)
      h1(class=`${classComponent}__header`)= header
    -}

    form(class=`${classComponent}__form` action='' method='post')
      fieldset(class=`${classComponent}__date-wrap js-${classComponent}__date-wrap`)
        +date-dropdown(dateDropdown)

      div(class=`${classComponent}__dropdown-wrap js-${classComponent}__dropdown-wrap`)
        +drop-down(dropDown)
          
      div(class=`${classComponent}__button-wrap js-${classComponent}__button-wrap`)
        +buttons(buttons)