include ../date-dropdown/date-dropdown.pug
include ../drop-down/drop-down.pug
include ../buttons/buttons.pug

mixin search-room(options)
  -
    const header = options.header ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel ?? false
    const classComp = 'search-room'
    let className = classComp

    const path = '/components/search-room/search-room.json' 
    const data = htmlWebpackPlugin.options.getData(path)
    const dateDropdown = data.dateDropdown
    const dropDown = data.dropDown
    const buttons = data.buttons

    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=`${className} js-${classComp}`)
    - if(!flLabel){
    header(class=`${classComp}__header-wrap`)
      h1(class=`${classComp}__header`)= header
    -}

    form(class=`${classComp}__form` action='' method='post')
      fieldset(class=`${classComp}__date-wrap js-${classComp}__date-wrap`)
        +date-dropdown(dateDropdown)

      div(class=`${classComp}__dropdown-wrap js-${classComp}__dropdown-wrap`)
        +drop-down(dropDown)
          
      div(class=`${classComp}__button-wrap js-${classComp}__button-wrap`)
        +buttons(buttons)