mixin button(options = {})
  -
    const {
      text = '',
      link = '',
      type = '',
      modifiers = [],
    } = options;

    const BASE_CLASS = 'button'
    let className = BASE_CLASS
    
  if modifiers.length !== 0
    each item in modifiers
      - className += ` ${BASE_CLASS}_${item}`
    
  case type
    when 'link'
      a(class=className href=link)=text
    when 'button'
      button(class=className)=text
    when 'button-popup'
      button(class=className aria-haspopup aria-expanded='false')=text
    when 'submit'
      button(class=className type='submit')=text
        img(class=`${BASE_CLASS}__icon` src=require('./img/arrow-forward.svg') alt='стрелка вперед')
    