mixin button(options = {})
  -
    const {
      type = 'button',
      text = 'buttonName',
      link = '',
      variant='',
      size='',
    } = options;

    const BASE_CLASS = 'button'

    const tag = link ? 'a' : 'button'

    const variantModifiers = {
      'contained': `${BASE_CLASS}_variant_contained`,
      'outlined': `${BASE_CLASS}_variant_outlined`,
      'text': `${BASE_CLASS}_variant_text`,
    }
    
    const sizeModifiers = {
      narrow: `${BASE_CLASS}_size_narrow`,
    }

    const typeModifiers = {
      submit: `${BASE_CLASS}_type_submit`,
    }

    const buttonAttributes = {
      a: {
        class: [BASE_CLASS,variantModifiers[variant],sizeModifiers[size]],
        href: link,
      },
      button: {
        class: [BASE_CLASS,variantModifiers[variant],sizeModifiers[size],typeModifiers[type]],
        type: type,
      }
    }

  #{tag}&attributes(buttonAttributes[tag])&attributes(attributes)=text