mixin square-color(textTop,textBot,modifier)
  - 
    const className = 'square-color'
    let classSquare = `${className}__square`
    const modifierSquare = modifier ?? ''
    if(modifierSquare){
    classSquare += ` ${classSquare}_${modifierSquare}`}

  div(class=className)
    div(class=classSquare)
    
    div.squareColor__text
      p(class=`${className}__color`)= textTop
      p(class=`${className}__hexColor`)= textBot
