mixin like-button(options)
  -
    const label = options.label ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const classComponent = 'like-button'
    let className = classComponent
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    p(class=`${classComponent}__header`)= label
    -}
    
    button(class=`${classComponent}__like js-${classComponent}__like` aria-label='поставить лайк')
      span(class=`${classComponent}__icon js-${classComponent}__icon`) heart
      span(class=`${classComponent}__value js-${classComponent}__value`) 2
