mixin like-button(options)
  -
    const label = options.label ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel ?? false
    const classComp = 'like-button'
    let className = classComp
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=`${className} js-${classComp}`)
    - if(!flLabel){
    p(class=`${classComp}__header`)= label
    -}
    
    button(class=`${classComp}__like js-${classComp}__like` aria-label='поставить лайк')
      img(class=`${classComp}__icon js-${classComp}__icon` src=require('@com/like-button/img/like.svg').default alt='like')
      span(class=`${classComp}__value js-${classComp}__value`) 2
