mixin like-button(options = {})
  -
    const {
      label = ''
    } = options;
    const BASE_CLASS = 'like-button'

  div(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if label
      h2(class=`${BASE_CLASS}__header`)= label
    
    button(class=`${BASE_CLASS}__like js-${BASE_CLASS}__like` aria-label='поставить лайк')
      span(class=`${BASE_CLASS}__icon js-${BASE_CLASS}__icon`) heart
      span(class=`${BASE_CLASS}__value js-${BASE_CLASS}__value`) 2
