mixin like-button(options = {})
  -
    const {
      label = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'like-button'
    let className = CLASS_COMPONENT

  if addClass
    - className += ` ${addClass}`
  

  div(class=`${className} js-${CLASS_COMPONENT}`)
    if label
      h2(class=`${CLASS_COMPONENT}__header`)= label
    
    
    button(class=`${CLASS_COMPONENT}__like js-${CLASS_COMPONENT}__like` aria-label='поставить лайк')
      span(class=`${CLASS_COMPONENT}__icon js-${CLASS_COMPONENT}__icon`) heart
      span(class=`${CLASS_COMPONENT}__value js-${CLASS_COMPONENT}__value`) 2
