mixin diagram(options = {})
  -
    const {
      label = '',
      votes = []
    } = options;
    const BASE_CLASS = 'diagram'

    const data = JSON.stringify(votes)

  div(class=`${BASE_CLASS} js-${BASE_CLASS}` data-votes=`${data}`)
    if label
      h2(class=`${BASE_CLASS}__header`)= label
    
    div(class=`${BASE_CLASS}__wrapper`)
      canvas(class=`${BASE_CLASS}__canvas js-${BASE_CLASS}__canvas` width='240' height='240')
      ul(class=`${BASE_CLASS}__colors`)

