mixin diagram(options = {})
  -
    const {
      label = '',
      addClass = '',
    } = options;

    let CLASS_COMPONENT = 'diagram'
    let className = CLASS_COMPONENT
    const data = [
      ['130','excellent','Великолепно'],
      ['65','good','Хорошо'],
      ['65','satisfactorily','Удовлетворительно'],
      ['0','disappointed','Разочарован'],
    ]

  if addClass
    - className += ` ${addClass}`
  

  div(class=`${CLASS_COMPONENT} js-${CLASS_COMPONENT}`)
    if label
      h2(class=`${CLASS_COMPONENT}__header`)= label
    
    div(class=`${CLASS_COMPONENT}__wrapper`)
      canvas(class=`${CLASS_COMPONENT}__canvas js-${CLASS_COMPONENT}__canvas` width='240' height='240')
      ul(class=`${CLASS_COMPONENT}__colors`)
        each item in data
          li(class=`${CLASS_COMPONENT}__colors-item js-${CLASS_COMPONENT}__colors-item` data-grade=item[0] data-name=item[1])=item[2]
