mixin diagram(options = {})
  -
    const {
      label = ''
    } = options;
    const BASE_CLASS = 'diagram'

    const data = [
      ['130','excellent','Великолепно'],
      ['65','good','Хорошо'],
      ['65','satisfactorily','Удовлетворительно'],
      ['0','disappointed','Разочарован'],
    ]

  div(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if label
      h2(class=`${BASE_CLASS}__header`)= label
    
    div(class=`${BASE_CLASS}__wrapper`)
      canvas(class=`${BASE_CLASS}__canvas js-${BASE_CLASS}__canvas` width='240' height='240')
      ul(class=`${BASE_CLASS}__colors`)
        each item in data
          li(class=`${BASE_CLASS}__colors-item js-${BASE_CLASS}__colors-item` data-grade=item[0] data-name=item[1])=item[2]
