include ../button/button.pug
include ../text-field/text-field.pug

mixin date-dropdown(options = {})
  -
    const {
      labels = [],
      value = '',
      isFilter = false,
    } = options;

    const BASE_CLASS = 'date-dropdown'
    let className = BASE_CLASS

  if isFilter
    - className += ` ${BASE_CLASS}_type_filter`

  div(class=`${className} js-${BASE_CLASS}`)
    - const num = isFilter ? 1 : 2;
    - for(let i=0; i<num; i++)  {
      - const label = labels[i] ?? ''
        if isFilter
          +text-field({
            label,
            typeField:'text',
            hasTip: true,
            isFilterDate: true,
          })
          +text-field({
            typeField:'hidden',
            value,
            name:'date-filter',
            isHidden: true
          })
        else 
          +text-field({
            label,
            typeField:'text',
            value,
            name:`date-${i}`,
            isDateMinimal:true,
            hasTip: true,
          })
    -}

    div(class=`${BASE_CLASS}__datepicker-wrapper js-${BASE_CLASS}__datepicker-wrapper`)
      div(class=`${BASE_CLASS}__datepicker js-${BASE_CLASS}__datepicker`)
      div(class=`${BASE_CLASS}__datepicker-buttons`)
      
        div(class=`${BASE_CLASS}__clear js-${BASE_CLASS}__clear`)
          +button({
            text:'очистить',
            variant: 'text'
          })

        div(class=`${BASE_CLASS}__apply js-${BASE_CLASS}__apply`)
          +button({
            text:'применить',
            variant: 'text'
          })
