include ../button/button.pug

mixin date-dropdown(options = {})
  -
    const {
      label = '',
      value = '',
      modifier = '',
      filter = false,
    } = options;

    const BASE_CLASS = 'date-dropdown'
    let className = BASE_CLASS

  if modifier
    - className += ` ${BASE_CLASS}_${modifier}`

  div(class=`${className} js-${BASE_CLASS}`)
    - const num = filter ? 1 : 2;
    - for(let i=0; i<num; i++)  {
        div(class=`${BASE_CLASS}__date-wrapper`)

          label(class=`${BASE_CLASS}__label`)

            - if(label){
                = label[i]
            -}

            -if(filter){
                input(class=`${BASE_CLASS}__input js-${BASE_CLASS}__input` type='text' placeholder=''  autocomplete='off')
                input(class=`${BASE_CLASS}__input-hidden js-${BASE_CLASS}__input-hidden` type='hidden' value=value name='date-filter')
            -}else{
                input(class=`${BASE_CLASS}__input js-${BASE_CLASS}__input` type='text' placeholder='' value=value name=`date-${i}` autocomplete='off')
            -}
            
            img(class=`${BASE_CLASS}__tip` src=require('./img/tip.svg') alt='уголок')
    -}

    div(class=`${BASE_CLASS}__datepicker-wrapper js-${BASE_CLASS}__datepicker-wrapper`)
      div(class=`${BASE_CLASS}__datepicker js-${BASE_CLASS}__datepicker`)
      div(class=`${BASE_CLASS}__datepicker-buttons`)
      
        div(class=`${BASE_CLASS}__clear js-${BASE_CLASS}__clear`)
          +button({
            text:'очистить',
            type:'button',
            modifiers:['text']
          })

        div(class=`${BASE_CLASS}__apply js-${BASE_CLASS}__apply`)
          +button({
            text:'применить',
            type:'button',
            modifiers:['text']
          })
