include ../buttons/buttons.pug

mixin date-dropdown(options = {})
  -
    const {
      label = '',
      value = '',
      modifier = '',
      addClass = '',
      isLabeled,
      filter,
    } = options;

    const classComponent = 'date-dropdown'
    let className = classComponent

    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=`${className} js-${classComponent}`)
    - let num = filter ? 1 : 2;
    - for(let i=0; i<num; i++)  {
        div(class=`${classComponent}__date-wrap`)

          - if(!isLabeled){
              p(class=`${classComponent}__label-text`)= label[i]
          -}

          label(class=`${classComponent}__label`)

            -if(filter){
                input(class=`${classComponent}__input js-${classComponent}__input` type='text' placeholder=''  autocomplete='off')
                input(class=`${classComponent}__input-hidden js-${classComponent}__input-hidden` type='hidden' value=value name='date-filter')
            -}else{
                input(class=`${classComponent}__input js-${classComponent}__input` type='text' placeholder='' value=value name='date-'+i autocomplete='off')
            -}
            
            img(class=`${classComponent}__tip` src=require('./img/tip.svg') alt='уголок')
    -}

    div(class=`${classComponent}__datepicker-wrap js-${classComponent}__datepicker-wrap`)
      div(class=`${classComponent}__datepicker js-${classComponent}__datepicker`)
      div(class=`${classComponent}__datepicker-buttons`)
      
        div(class=`${classComponent}__clear js-${classComponent}__clear`)
          +buttons({
            text:'очистить',
            type:'button',
            modifier:['text']
          })

        div(class=`${classComponent}__apply js-${classComponent}__apply`)
          +buttons({
            text:'применить',
            type:'button',
            modifier:['text']
          })
