mixin buttons(options)
  -
    const {
      text = '',
      link = '',
      type = '',
      modifier = [],
      addClass = '',
    } = options;

    const classComponent = 'buttons'
    let className = classComponent
    if(modifier){
      for(let item of modifier)
    className += ` ${classComponent}_${item}`
    }
    if(addClass){
    className += ` ${addClass}`}
    
  case type
    when 'link'
      a(class=className href=link)=text
    when 'button'
      button(class=className)=text
    when 'btn-popup'
      button(class=className aria-haspopup aria-expanded='false')=text
    when 'submit'
      button(class=className type='submit')=text
        img(class=`${classComponent}__icon` src=require('./img/arrow-forward.svg'))
    