mixin buttons(options)
  -
    const {
      text = '',
      link = '',
      type = '',
      modifier = [],
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'buttons'
    let className = CLASS_COMPONENT
    if(modifier){
      for(let item of modifier)
        className += ` ${CLASS_COMPONENT}_${item}`
    }
    if(addClass){
      className += ` ${addClass}`
    }
    
  case type
    when 'link'
      a(class=className href=link)=text
    when 'button'
      button(class=className)=text
    when 'button-popup'
      button(class=className aria-haspopup aria-expanded='false')=text
    when 'submit'
      button(class=className type='submit')=text
        img(class=`${CLASS_COMPONENT}__icon` src=require('./img/arrow-forward.svg') alt='стрелка вперед')
    