mixin buttons(options)
  -
    const {
      text = '',
      link = '',
      type = '',
      modifier = [],
      addClass = '',
    } = options;

    const BASE_CLASS = 'buttons'
    let className = BASE_CLASS
  if modifier
    each item in modifier
      - className += ` ${BASE_CLASS}_${item}`
    
  if addClass
    - className += ` ${addClass}`
    
  case type
    when 'link'
      a(class=className href=link)=text
    when 'button'
      button(class=className)=text
    when 'button-popup'
      button(class=className aria-haspopup aria-expanded='false')=text
    when 'submit'
      button(class=className type='submit')=text
        img(class=`${BASE_CLASS}__icon` src=require('./img/arrow-forward.svg') alt='стрелка вперед')
    