mixin buttons(options)
  -
    const text = options.text ?? ''
    const link = options.link ?? ''
    const type = options.type ?? ''
    const modify = options.modify ?? []
    const addClass = options.class ?? ''
    const classComp = 'buttons'
    let className = classComp
    if(modify){
      for(let item of modify)
    className += ` ${classComp}_${item}`
    }
    if(addClass){
    className += ` ${addClass}`}
    
  case type
    when 'link'
      a(class=className href=link)=text
    when 'button'
      button(class=className)=text
    when 'btn-popup'
      button(class=className aria-haspopup aria-expanded='false')=text
    when 'submit'
      button(class=className type='submit')=text
        img(class=`${classComp}__icon` src=require('@com/buttons/img/arrow-forward.svg').default)
    