include ../date-dropdown/date-dropdown.pug
include ../drop-down/drop-down.pug
include ../buttons/buttons.pug

mixin booking(options)
  -
    const number = options.number ?? ''
    const price = options.price ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const lux = options.lux
    const classComponent = 'booking'
    let className = classComponent
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=`${className} js-${classComponent}`)
    div(class=`${classComponent}__header-wrap`)

      div(class=`${classComponent}__number-wrap`)
        span(class=`${classComponent}__header-num`) №
        p(class=`${classComponent}__header`)= number
        - if(lux){
        span(class=`${classComponent}__lux`) люкс
        -}

      div(class=`${classComponent}__price-wrap`)
        span(class=`${classComponent}__price`)= price+'₽'
        span(class=`${classComponent}__price-text`) в сутки

    form(class=`${classComponent}__form` action='' method='post')
      fieldset(class=`${classComponent}__date-wrap js-${classComponent}__date-wrap`)
        +date-dropdown({
          label: ['прибытие','выезд'],
          placeholder:'ДД.ММ.ГГГГ',
          class: 'js-masked-date'
          })

      div(class=`${classComponent}__dropdown-wrap js-${classComponent}__dropdown-wrap`)
        +drop-down({
          label:'гости',
          value: 'Сколько гостей',
          name:'Guest',
          words:[
          ['взрослые', 'дети', 'младенцы'], 
          ['гость,гостя,гостей', 
          'гость,гостя,гостей', 
          'младенец,младенца,младенцев']],
          maxValue:['10','12','5'],
          button:true
          })

      div(class=`${classComponent}__day-wrap`)
        p(class=`${classComponent}__day-calc`) 9 990₽ х 4 суток
        span(class=`${classComponent}__day-price`) 39 960₽

      div(class=`${classComponent}__services-wrap`)
        p(class=`${classComponent}__services`) Сбор за услуги: скидка 2 179₽
        span(class=`${classComponent}__services-price`) 0₽

      div(class=`${classComponent}__services-wrap`)
        p(class=`${classComponent}__services`) Сбор за дополнительные услуги
        span(class=`${classComponent}__services-price`) 300₽
        
      div(class=`${classComponent}__total-wrap`)
        span(class=`${classComponent}__total-text`) Итого
        div(class=`${classComponent}__total-dot`)
        span(class=`${classComponent}__total-price`) 38 081₽

      div(class=`${classComponent}__button-wrap js-${classComponent}__button-wrap`)
        +buttons({
          text:'забронировать',
          type:'submit',
          modifier:['submit']
        })