include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin booking(options = {})
  -
    const {
      number = '',
      price = '',
      isLux = false,
    } = options;

    const BASE_CLASS = 'booking'

  article(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    h2(class=`${BASE_CLASS}__header-wrapper`)

      span(class=`${BASE_CLASS}__number-wrapper`)
        span(class=`${BASE_CLASS}__header-num`) №
        span(class=`${BASE_CLASS}__header`)= number
        if isLux
          span(class=`${BASE_CLASS}__lux`) люкс

      span(class=`${BASE_CLASS}__price-wrapper`)
        span(class=`${BASE_CLASS}__price`)= `${price}₽`
        span(class=`${BASE_CLASS}__price-text`) в сутки

    form(class=`${BASE_CLASS}__form` action='https://change-me' method='post')
      fieldset(class=`${BASE_CLASS}__date-wrapper js-${BASE_CLASS}__date-wrapper`)
        +date-dropdown({
          label: ['прибытие','выезд'],
          placeholder:'ДД.ММ.ГГГГ',
          })

      div(class=`${BASE_CLASS}__dropdown-wrapper js-${BASE_CLASS}__dropdown-wrapper`)
        +dropdown({
          label:'гости',
          value: 'Сколько гостей',
          name:'Guest',
          words:[
          ['взрослые', 'дети', 'младенцы'], 
          ['гость,гостя,гостей', 
          'гость,гостя,гостей', 
          'младенец,младенца,младенцев']],
          maxValues:['10','12','5'],
          isButton:true
          })

      div(class=`${BASE_CLASS}__day-wrapper`)
        p(class=`${BASE_CLASS}__day-calc`) 9 990₽ х 4 суток
        span(class=`${BASE_CLASS}__day-price`) 39 960₽

      div(class=`${BASE_CLASS}__services-wrapper`)
        p(class=`${BASE_CLASS}__services`) Сбор за услуги: скидка 2 179₽
        span(class=`${BASE_CLASS}__services-price`) 0₽

      div(class=`${BASE_CLASS}__services-wrapper`)
        p(class=`${BASE_CLASS}__services`) Сбор за дополнительные услуги
        span(class=`${BASE_CLASS}__services-price`) 300₽
        
      div(class=`${BASE_CLASS}__total-wrapper`)
        span(class=`${BASE_CLASS}__total-text`) Итого
        div(class=`${BASE_CLASS}__total-dot`)
        span(class=`${BASE_CLASS}__total-price`) 38 081₽

      div(class=`${BASE_CLASS}__button-wrapper js-${BASE_CLASS}__button-wrapper`)
        +button({
          text:'забронировать',
          type:'submit',
          modifiers:['submit']
        })