include ../date-dropdown/date-dropdown.pug
include ../drop-down/drop-down.pug
include ../buttons/buttons.pug

mixin booking(options = {})
  -
    const {
      number = '',
      price = '',
      modifier = '',
      addClass = '',
      lux,
    } = options;

    const CLASS_COMPONENT = 'booking'
    let className = CLASS_COMPONENT
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  article(class=`${className} js-${CLASS_COMPONENT}`)
    div(class=`${CLASS_COMPONENT}__header-wrapper`)

      div(class=`${CLASS_COMPONENT}__number-wrapper`)
        span(class=`${CLASS_COMPONENT}__header-num`) №
        p(class=`${CLASS_COMPONENT}__header`)= number
        - if(lux){
            span(class=`${CLASS_COMPONENT}__lux`) люкс
        -}

      div(class=`${CLASS_COMPONENT}__price-wrapper`)
        span(class=`${CLASS_COMPONENT}__price`)= price+'₽'
        span(class=`${CLASS_COMPONENT}__price-text`) в сутки

    form(class=`${CLASS_COMPONENT}__form` action='https://change-me' method='post')
      fieldset(class=`${CLASS_COMPONENT}__date-wrapper js-${CLASS_COMPONENT}__date-wrapper`)
        +date-dropdown({
          label: ['прибытие','выезд'],
          placeholder:'ДД.ММ.ГГГГ',
          class: 'js-masked-date'
          })

      div(class=`${CLASS_COMPONENT}__dropdown-wrapper js-${CLASS_COMPONENT}__dropdown-wrapper`)
        +drop-down({
          label:'гости',
          value: 'Сколько гостей',
          name:'Guest',
          words:[
          ['взрослые', 'дети', 'младенцы'], 
          ['гость,гостя,гостей', 
          'гость,гостя,гостей', 
          'младенец,младенца,младенцев']],
          maxValue:['10','12','5'],
          button:true
          })

      div(class=`${CLASS_COMPONENT}__day-wrapper`)
        p(class=`${CLASS_COMPONENT}__day-calc`) 9 990₽ х 4 суток
        span(class=`${CLASS_COMPONENT}__day-price`) 39 960₽

      div(class=`${CLASS_COMPONENT}__services-wrapper`)
        p(class=`${CLASS_COMPONENT}__services`) Сбор за услуги: скидка 2 179₽
        span(class=`${CLASS_COMPONENT}__services-price`) 0₽

      div(class=`${CLASS_COMPONENT}__services-wrapper`)
        p(class=`${CLASS_COMPONENT}__services`) Сбор за дополнительные услуги
        span(class=`${CLASS_COMPONENT}__services-price`) 300₽
        
      div(class=`${CLASS_COMPONENT}__total-wrapper`)
        span(class=`${CLASS_COMPONENT}__total-text`) Итого
        div(class=`${CLASS_COMPONENT}__total-dot`)
        span(class=`${CLASS_COMPONENT}__total-price`) 38 081₽

      div(class=`${CLASS_COMPONENT}__button-wrapper js-${CLASS_COMPONENT}__button-wrapper`)
        +buttons({
          text:'забронировать',
          type:'submit',
          modifier:['submit']
        })