mixin range-slider(options = {})
  -
    const {
      label = ''
    } = options;
    const BASE_CLASS = 'range-slider'

  div(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    div(class=`${BASE_CLASS}__wrapper`)
    
      div(class=`${BASE_CLASS}__header`)
        if label
          h2(class=`${BASE_CLASS}__label`)= label
        
        span(class=`${BASE_CLASS}__value js-${BASE_CLASS}__value`)
      input(class=`${BASE_CLASS}__input js-${BASE_CLASS}__input`
      type='hidden' 
      name='price' 
      value='' 
      data-min='1000' 
      data-from='5000' 
      data-to='10000' 
      data-max='15000'
      )