mixin range-slider(options = {})
  -
    const {
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'range-slider'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=`${className} js-${classComponent}`)
    div(class=`${classComponent}__wrapper`)
    
      div(class=`${classComponent}__header`)
        - if(!isLabeled){
            p(class=`${classComponent}__label`)= label
        -}
        span(class=`${classComponent}__value js-${classComponent}__value`)
      input(class=`${classComponent}__input js-${classComponent}__input`
      type='hidden' 
      name='price' 
      value='' 
      data-min='1000' 
      data-from='5000' 
      data-to='10000' 
      data-max='15000'
      )