mixin subscrip-textfield(options = {})
  -
    const {
      label = '',
      value = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'subscrip-textfield'
    let className = CLASS_COMPONENT
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=`${className} js-${CLASS_COMPONENT}`)
    div(class=`${CLASS_COMPONENT}__wrapper`)
      if !isLabeled
        p(class=`${CLASS_COMPONENT}__label-text`)= label

      label(class=`${CLASS_COMPONENT}__label`)
        input(class=`${CLASS_COMPONENT}__input` type='text' placeholder=value value='' name='subscrip')
        
      button(class=`${CLASS_COMPONENT}__link js-${CLASS_COMPONENT}__link` aria-label='подписаться' title='подписаться')
        img(class=`${CLASS_COMPONENT}__tip` src=require('./img/arrow-forward.svg') alt='стрелка - подписаться')
