mixin subscrip-textfield(options = {})
  -
    const {
      label = '',
      value = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'subscrip-textfield'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=`${className} js-${classComponent}`)
    div(class=`${classComponent}__wrap`)
      if !isLabeled
        p(class=`${classComponent}__label-text`)= label

      label(class=`${classComponent}__label`)
        input(class=`${classComponent}__input` type='text' placeholder=value value='' name='subscrip')
        
      button(class=`${classComponent}__link js-${classComponent}__link` aria-label='подписаться' title='подписаться')
        img(class=`${classComponent}__tip` src=require('./img/arrow-forward.svg') alt='стрелка - подписаться')
