mixin subscrip-textfield(options = {})
  -
    const {
      label = '',
      value = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'subscrip-textfield'
    let className = CLASS_COMPONENT

  if addClass
    - className += ` ${addClass}`
  

  form(class=`${className} js-${CLASS_COMPONENT}` action='https://change-me' method='post')
    div(class=`${CLASS_COMPONENT}__wrapper`)
      if label
        h2(class=`${CLASS_COMPONENT}__label-text`)= label

      label(class=`${CLASS_COMPONENT}__label`)
        input(class=`${CLASS_COMPONENT}__input` type='email' placeholder=value value='' name='subscrip')
        
      button(class=`${CLASS_COMPONENT}__link js-${CLASS_COMPONENT}__link` type="submit" aria-label='подписаться' title='подписаться')
        img(class=`${CLASS_COMPONENT}__tip` src=require('./img/arrow-forward.svg') alt='стрелка - подписаться')
