mixin checkbox-list(options = {})
  -
    const {
      items = [{}],
      legend = '',
      variant = '',
      isClicked = false,
      isRich = false,
    } = options;

    const BASE_CLASS = 'checkbox-list'

    const variantModifiers = {
      'buttons': `${BASE_CLASS}_variant_buttons`,
      'expandable': `${BASE_CLASS}_variant_expandable`
    }

    const rich = isRich ? `${BASE_CLASS}_variant_rich` : '';

    const attributesBlock = {
        class: [BASE_CLASS,variantModifiers[variant],rich,`js-${BASE_CLASS}`]
    }

  div&attributes(attributesBlock)
    fieldset(class=`${BASE_CLASS}__items`)

      if legend
        if !isClicked
          legend(class=`${BASE_CLASS}__header js-${BASE_CLASS}__header` tabindex='0' aria-label='раскрывающийся список')= legend
            img(class=`${BASE_CLASS}__tip js-${BASE_CLASS}__tip` src=require('./img/tip.svg') alt='угалок')
        else
          legend(class=`${BASE_CLASS}__header js-${BASE_CLASS}__header`)= legend
      
      div(class=`${BASE_CLASS}__wrapper js-${BASE_CLASS}__wrapper`)
        each item in items
          if item.word
            label(class=`${BASE_CLASS}__label`)= item.word
              input(class=`${BASE_CLASS}__input` type='checkbox' name=item.word)
              span(class=`${BASE_CLASS}__before`)
              if item.string
                span(class=`${BASE_CLASS}__text`)=item.string