mixin checkbox-list(options = {})
  -
    const {
      words = [],
      strings = [],
      legend = '',
      modifiers = [],
      isClicked = false,
    } = options;

    const BASE_CLASS = 'checkbox-list'
    let className = BASE_CLASS
    
  if modifiers.length !== 0
    each item in modifiers
      - className += ` ${BASE_CLASS}_${item}`

  div(class=`${className} js-${BASE_CLASS}`)
    fieldset(class=`${BASE_CLASS}__items`)

      -if(legend){
        -if(!isClicked){
          legend(class=`${BASE_CLASS}__header js-${BASE_CLASS}__header` tabindex='0' aria-label='раскрывающийся список')= legend
              img(class=`${BASE_CLASS}__tip js-${BASE_CLASS}__tip` src=require('./img/tip.svg') alt='угалок')
        -} else {
          legend(class=`${BASE_CLASS}__header js-${BASE_CLASS}__header`)= legend
        -}  
      -}
      
      div(class=`${BASE_CLASS}__wrapper js-${BASE_CLASS}__wrapper`)
        each value, index in words
          label(class=`${BASE_CLASS}__label`)= value
            input(class=`${BASE_CLASS}__input` type='checkbox' name=value)
            span(class=`${BASE_CLASS}__before`)
            -if(strings.length)
              span(class=`${BASE_CLASS}__text`)=strings[index]