mixin checkbox-list(options = {})
  -
    const {
      words = [],
      strings = [],
      legend = '',
      modifier = '',
      addClass = '',
      isLabeled,
      isClicked,
    } = options;

    const classComponent = 'checkbox-list'
    let className = classComponent
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}
    
  div(class=`${className} js-${classComponent}`)
    fieldset(class=`${classComponent}__items`)

      -if(!isLabeled){
        -if(!isClicked){
          legend(class=`${classComponent}__header js-${classComponent}__header` tabindex='0' aria-label='раскрывающийся список')= legend
              img(class=`${classComponent}__tip js-${classComponent}__tip` src=require('./img/tip.svg') alt='угалок')
        -} else {
          legend(class=`${classComponent}__header js-${classComponent}__header`)= legend
        -}  
      -}
      
      div(class=`${classComponent}__wrap js-${classComponent}__wrap`)
        each value, index in words
          label(class=`${classComponent}__label`)= value
            input(class=`${classComponent}__input` type='checkbox' name=value)
            span(class=`${classComponent}__bef`)
            -if(strings.length)
              span(class=`${classComponent}__text`)=strings[index]