mixin checkbox-list(options = {})
  -
    const {
      words = [],
      strings = [],
      legend = '',
      modifier = '',
      addClass = '',
      isLabeled,
      isClicked,
    } = options;

    const CLASS_COMPONENT = 'checkbox-list'
    let className = CLASS_COMPONENT
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }
    
  div(class=`${className} js-${CLASS_COMPONENT}`)
    fieldset(class=`${CLASS_COMPONENT}__items`)

      -if(!isLabeled){
        -if(!isClicked){
          legend(class=`${CLASS_COMPONENT}__header js-${CLASS_COMPONENT}__header` tabindex='0' aria-label='раскрывающийся список')= legend
              img(class=`${CLASS_COMPONENT}__tip js-${CLASS_COMPONENT}__tip` src=require('./img/tip.svg') alt='угалок')
        -} else {
          legend(class=`${CLASS_COMPONENT}__header js-${CLASS_COMPONENT}__header`)= legend
        -}  
      -}
      
      div(class=`${CLASS_COMPONENT}__wrapper js-${CLASS_COMPONENT}__wrapper`)
        each value, index in words
          label(class=`${CLASS_COMPONENT}__label`)= value
            input(class=`${CLASS_COMPONENT}__input` type='checkbox' name=value)
            span(class=`${CLASS_COMPONENT}__before`)
            -if(strings.length)
              span(class=`${CLASS_COMPONENT}__text`)=strings[index]