mixin checkbox-list(options)
  -
    const words = options.words ?? []
    const strings = options.strings ?? []
    const legend = options.legend ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const isClicked = options.isClicked
    const classComponent = 'checkbox-list'
    let className = classComponent
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}
    
  div(class=`${className} js-${classComponent}`)
    fieldset(class=`${classComponent}__items`)

      -if(!isLabeled){
        -if(!isClicked){
          legend(class=`${classComponent}__header js-${classComponent}__header` tabindex='0' aria-label='раскрывающийся список')= legend
              img(class=`${classComponent}__tip js-${classComponent}__tip` src=require('@com/checkbox-list/img/tip.svg').default alt='угалок')
        -} else {
          legend(class=`${classComponent}__header js-${classComponent}__header`)= legend
        -}  
      -}
      
      div(class=`${classComponent}__wrap js-${classComponent}__wrap`)
        each value, index in words
          label(class=`${classComponent}__label`)= value
            input(class=`${classComponent}__input` type='checkbox' name=value)
            span(class=`${classComponent}__bef`)
            -if(strings.length)
              span(class=`${classComponent}__text`)=strings[index]