include ../like-button/like-button.pug
mixin comment(options = {})
  -
    const {
      src = '',
      name = '',
      date = '',
      message = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'comment'
    let className = CLASS_COMPONENT
  
  if addClass
    - className += ` ${addClass}`

  article(class=className)
  
    div(class=`${CLASS_COMPONENT}__avatar-wrapper`)
      figure(class=`${CLASS_COMPONENT}__author`)
        img(class=`${CLASS_COMPONENT}__avatar` src=require('./img/'+src), alt=name)
      div(class=`${CLASS_COMPONENT}__like-wrapper`)
        +like-button()

    div(class=`${CLASS_COMPONENT}__message-wrapper`)
      header(class=`${CLASS_COMPONENT}__header-wrapper`)
        a(class=`${CLASS_COMPONENT}__name` href='https://change-me')= name
        p(class=`${CLASS_COMPONENT}__date`)= date
      p(class=`${CLASS_COMPONENT}__message`)= message
      
