include ../like-button/like-button.pug
mixin comment(options = {})
  -
    const {
      src = '',
      name = '',
      date = '',
      message = '',
    } = options;

    const BASE_CLASS = 'comment'
  
  article(class=BASE_CLASS)
  
    div(class=`${BASE_CLASS}__avatar-wrapper`)
      figure(class=`${BASE_CLASS}__author`)
        img(class=`${BASE_CLASS}__avatar` src=require(`./img/${src}`), alt=name)
      div(class=`${BASE_CLASS}__like-wrapper`)
        +like-button()

    div(class=`${BASE_CLASS}__message-wrapper`)
      header(class=`${BASE_CLASS}__header-wrapper`)
        a(class=`${BASE_CLASS}__name` href='https://change-me')= name
        p(class=`${BASE_CLASS}__date`)= date
      p(class=`${BASE_CLASS}__message`)= message
      
