include ../like-button/like-button.pug
mixin comment(options)
  -
    const src = options.src ?? ''
    const name = options.name ?? ''
    const date = options.date ?? ''
    const message = options.message ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const classComp = 'comment'
    let className = classComp
    
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=className)
  
    div(class=`${classComp}__avatar-wrap`)
      figure(class=`${classComp}__author`)
        img(class=`${classComp}__avatar` src=require('@com/comment/img/'+src).default, alt=name)
      div(class=`${classComp}__like-wrap`)
        +like-button({flLabel:true})

    div(class=`${classComp}__message-wrap`)
      header(class=`${classComp}__header-wrap`)
        a(class=`${classComp}__name` href='https://change-me')= name
        p(class=`${classComp}__date`)= date
      p(class=`${classComp}__message`)= message
      
