include ../like-button/like-button.pug
mixin comment(options)
  -
    const src = options.src ?? ''
    const name = options.name ?? ''
    const date = options.date ?? ''
    const message = options.message ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const classComponent = 'comment'
    let className = classComponent
    
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=className)
  
    div(class=`${classComponent}__avatar-wrap`)
      figure(class=`${classComponent}__author`)
        img(class=`${classComponent}__avatar` src=require('@com/comment/img/'+src).default, alt=name)
      div(class=`${classComponent}__like-wrap`)
        +like-button({isLabeled:true})

    div(class=`${classComponent}__message-wrap`)
      header(class=`${classComponent}__header-wrap`)
        a(class=`${classComponent}__name` href='https://change-me')= name
        p(class=`${classComponent}__date`)= date
      p(class=`${classComponent}__message`)= message
      
