mixin feature(options = {})
  -
    const {
      header = '',
      src = '',
      alt = '',
      text = '',
      modifier = '',
      addClass = '',
    } = options;

    const classComponent = 'feature'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=className)
    div(class=`${classComponent}__wrapper-icon`)
      img(class=`${classComponent}__icon` src=require('./img/'+src) alt=alt)
      
    div(class=`${classComponent}__description`)
      span(class=`${classComponent}__header`)=header
      p(class=`${classComponent}__text`)=text
