mixin feature(options = {})
  -
    const {
      header = '',
      src = '',
      alt = '',
      text = '',
      modifier = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'feature'
    let className = CLASS_COMPONENT
  if modifier
    - className += ` ${CLASS_COMPONENT}_none-border`

  if addClass
    - className += ` ${addClass}`
  

  div(class=className)
    div(class=`${CLASS_COMPONENT}__wrapper-icon`)
      img(class=`${CLASS_COMPONENT}__icon` src=require('./img/'+src) alt=alt)
      
    div(class=`${CLASS_COMPONENT}__description`)
      span(class=`${CLASS_COMPONENT}__header`)=header
      p(class=`${CLASS_COMPONENT}__text`)=text
