mixin feature(options)
  -
    const header = options.header ?? ''
    const src = options.src ?? ''
    const alt = options.alt ?? ''
    const text = options.text ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const classComp = 'feature'
    let className = classComp
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=className)
    div(class=`${classComp}__wrap-icon`)
      img(class=`${classComp}__icon` src=require('@com/feature/img/'+src).default alt=alt)
      
    div(class=`${classComp}__description`)
      span(class=`${classComp}__header`)=header
      p(class=`${classComp}__text`)=text
