mixin feature(options)
  -
    const header = options.header ?? ''
    const src = options.src ?? ''
    const alt = options.alt ?? ''
    const text = options.text ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const classComponent = 'feature'
    let className = classComponent
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=className)
    div(class=`${classComponent}__wrap-icon`)
      img(class=`${classComponent}__icon` src=require('@com/feature/img/'+src).default alt=alt)
      
    div(class=`${classComponent}__description`)
      span(class=`${classComponent}__header`)=header
      p(class=`${classComponent}__text`)=text
