mixin feature(options = {})
  -
    const {
      header = '',
      src = '',
      alt = '',
      text = '',
      isNoneBorder = false,
    } = options;

    const BASE_CLASS = 'feature'
    let className = BASE_CLASS
  if isNoneBorder
    - className += ` ${BASE_CLASS}_none-border`

  div(class=className)
    div(class=`${BASE_CLASS}__wrapper-icon`)
      img(class=`${BASE_CLASS}__icon` src=require(`./img/${src}`) alt=alt)
      
    div(class=`${BASE_CLASS}__description`)
      span(class=`${BASE_CLASS}__header`)=header
      p(class=`${BASE_CLASS}__text`)=text
