mixin navigation(options = {})
  -
    const {
      header = '',
      strings = [],
      addClass = ''
    } = options;

    const CLASS_COMPONENT = 'navigation'
    let className = CLASS_COMPONENT
  
  if addClass
    - className += ` ${addClass}`
    
  div(class=className)
    ul(class=`${CLASS_COMPONENT}__items`)
      li(class=`${CLASS_COMPONENT}__header`)= header
      -for(let i=0; i<strings.length; i++){
          li(class=`${CLASS_COMPONENT}__item`)
            a(class=`${CLASS_COMPONENT}__link` href='https://change-me')= strings[i]
      -}
