mixin navigation(options = {})
  -
    const {
      header = '',
      strings = [],
      modifier = [],
      addClass = ''
    } = options;

    const classComponent = 'navigation'
    let className = classComponent
    if(modifier){
      for(let item of modifier)
    className += ` ${classComponent}_${item}` 
    }
    if(addClass){
    className += ` ${addClass}`}
    
  div(class=className)
    ul(class=`${classComponent}__items` role='navigation')
      lh(class=`${classComponent}__header`)= header
      -for(let i=0; i<strings.length; i++){
      li(class=`${classComponent}__item`)
        a(class=`${classComponent}__link` href='https://change-me')= strings[i]
      -}
