mixin navigation(options = {})
  -
    const {
      header = '',
      strings = [],
      addClass = ''
    } = options;

    const BASE_CLASS = 'navigation'
    let className = BASE_CLASS
  
  if addClass
    - className += ` ${addClass}`
    
  div(class=className)
    ul(class=`${BASE_CLASS}__items`)
      li(class=`${BASE_CLASS}__header`)
            h2(class=`${BASE_CLASS}__title`)= header
      -for(let i=0; i<strings.length; i++){
          li(class=`${BASE_CLASS}__item`)
            a(class=`${BASE_CLASS}__link` href='https://change-me')= strings[i]
      -}
