mixin star-rating(options = {})
  -
    const {
      label = '',
      name = '',
    } = options;

    const BASE_CLASS = 'star-rating'

  - 
    const labels = [
      'Ужасно',
      'Плохо', 
      'Нормально', 
      'Хорошо', 
      'Отлично', 
    ]

  div(class=BASE_CLASS)
    fieldset(class=`${BASE_CLASS}__stars`)
      if label
        legend(class=`${BASE_CLASS}__header`)= label
      
      div(class=`${BASE_CLASS}__group`)
        - labels.forEach((item, index)=>  {
            input(class=`${BASE_CLASS}__star` type='radio' name=name value=index+1 aria-label=item)
        -})