mixin star-rating(options = {})
  -
    const {
      label = '',
      name = '',
      addClass = '',
    } = options;

    const BASE_CLASS = 'star-rating'
    let className = BASE_CLASS

  if addClass
    - className += ` ${addClass}`
  

  - 
    labels = [
    'Ужасно',
    'Плохо', 
    'Нормально', 
    'Хорошо', 
    'Отлично', 
    ]

  div(class=className)
    fieldset(class=`${BASE_CLASS}__stars`)
      if label
        legend(class=`${BASE_CLASS}__header`)= label
      
      
      div(class=`${BASE_CLASS}__group`)
        - for(let i=0; i<labels.length; i++)  {
            input(class=`${BASE_CLASS}__star` type='radio' name=name value=i+1 aria-label=labels[i])
        -}