mixin star-rating(options = {})
  -
    const {
      label = '',
      name = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'star-rating'
    let className = CLASS_COMPONENT
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    labels = [
    'Ужасно',
    'Плохо', 
    'Нормально', 
    'Хорошо', 
    'Отлично', 
    ]

  div(class=className)
    fieldset(class=`${CLASS_COMPONENT}__stars`)
      - if(!isLabeled){
          legend(class=`${CLASS_COMPONENT}__header`)= label
      -}
      
      div(class=`${CLASS_COMPONENT}__group`)
        - for(let i=0; i<labels.length; i++)  {
            input(class=`${CLASS_COMPONENT}__star` type='radio' name=name value=i+1 aria-label=labels[i])
        -}