mixin star-rating(options = {})
  -
    const {
      label = '',
      name = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'star-rating'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

    labels = [
    'Ужасно',
    'Плохо', 
    'Нормально', 
    'Хорошо', 
    'Отлично', 
    ]

  div(class=className)
    fieldset(class=`${classComponent}__stars`)
      - if(!isLabeled){
          legend(class=`${classComponent}__header`)= label
      -}
      
      div(class=`${classComponent}__group`)
        - for(let i=0; i<labels.length; i++)  {
            input(class=`${classComponent}__star` type='radio' name=name value=i+1 aria-label=labels[i])
        -}