mixin dateDropdown(cl_name,classComp,label,value,typeD,nameD,modif='',flLabel=false)
	- let className = classComp+' '+cl_name+'__'+classComp
	if modif
		- className += ' '+classComp+'_'+modif
	div(class=className)
		div(class=classComp+"__date-left")
			- if(!flLabel){
			p(class=classComp+"__label-text")= label
			-}
			label(class=classComp+"__label")
				input(class=classComp+"__input" type=typeD placeholder=value value="" name=nameD)
				img(class=classComp+"__tip" src="assets/img/inetrface/tip.svg" alt="" style="width: 13px;")
		div(class=classComp+"__date-right")
			- if(!flLabel){
			p(class=classComp+"__label-text")= label
			-}
			label(class=classComp+"__label")
				input(class=classComp+"__input" type=typeD placeholder=value value="" name=nameD)
				img(class=classComp+"__tip" src="assets/img/inetrface/tip.svg" alt="" style="width: 13px;")
		div(class=classComp+"__datepicker")