include ../button/button.pug
include ../logo/logo.pug

mixin header(options = {})
  -
    let { current } = options; 
    const {
      type = '',
    } = options;

    const BASE_CLASS = 'header'
    const tipSvg = require('./img/tip.svg')

    const {
      service,
      agreements,
      button,
    } = require('./header.json');

  if current
    - current =`${BASE_CLASS}__link_current`

  header(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    div(class=`${BASE_CLASS}__wrapper`)
      div(class=`${BASE_CLASS}__link-logo`)
        +logo({link:'/landing-page.html'})

      button(class=`${BASE_CLASS}__toggle js-${BASE_CLASS}__toggle` aria-haspopup aria-expanded='false' aria-label='гамбургер главного меню')
        span(class=`${BASE_CLASS}__toggle-line js-${BASE_CLASS}__toggle-line`)

      nav(class=`${BASE_CLASS}__menu-wrapper js-${BASE_CLASS}__menu-wrapper`)
        ul(class=`${BASE_CLASS}__items`)
          li(class=`${BASE_CLASS}__item`)
            a(class=`${BASE_CLASS}__link ${current}` href='https://change-me') О нас
          li(class=`${BASE_CLASS}__item`)
            a(class=`${BASE_CLASS}__link-down js-${BASE_CLASS}__link-down` href='https://change-me') Услуги
              img(class=`${BASE_CLASS}__tip js-${BASE_CLASS}__tip` src=tipSvg, alt='уголок')
            ul(class=`${BASE_CLASS}__items-down js-${BASE_CLASS}__items-down`)
              each text in service
                li(class=`${BASE_CLASS}__item-down`)
                  a(class=`${BASE_CLASS}__link` href='https://change-me')=text

          li(class=`${BASE_CLASS}__item`)
            a(class=`${BASE_CLASS}__link` href='https://change-me') Вакансии
          li(class=`${BASE_CLASS}__item`)
            a(class=`${BASE_CLASS}__link` href='https://change-me') Новости
          li(class=`${BASE_CLASS}__item`)
            a(class=`${BASE_CLASS}__link-down js-${BASE_CLASS}__link-down` href='https://change-me') Соглашения
              img(class=`${BASE_CLASS}__tip js-${BASE_CLASS}__tip` src=tipSvg, alt='уголок')
            ul(class=`${BASE_CLASS}__items-down js-${BASE_CLASS}__items-down`)
              each text in agreements
                li(class=`${BASE_CLASS}__item-down`) 
                  a(class=`${BASE_CLASS}__link` href='https://change-me')=text

      -if (type === 'authorized'){
          div(class=`${BASE_CLASS}__user`)
            a(class=`${BASE_CLASS}__nickname` href='https://change-me') Юлий Цезарь
      -}
      -else{
          div(class=`${BASE_CLASS}__signin-wrapper`)
            +button(button.signIn)
            
          div(class=`${BASE_CLASS}__registration-wrapper`)
            +button(button.registration)
      -}