include ../buttons/buttons.pug
include ../logo/logo.pug

mixin header(options = {})
  -
    let { current } = options; 
    const {
      type = '',
      modifier = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'header'
    const tipSvg = require('./img/tip.svg')
    let className = CLASS_COMPONENT

    const {
      service,
      agreements,
      buttons,
    } = require('./header.json');

    if(current){
      current =`${CLASS_COMPONENT}__link_current`
    }
    if(modifier){
      className +=` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className +=` ${addClass}`
    }

  header(class=`${className} js-${CLASS_COMPONENT}`)
    div(class=`${CLASS_COMPONENT}__wrapper`)
      div(class=`${CLASS_COMPONENT}__link-logo`)
        +logo({link:'/landing-page.html'})

      button(class=`${CLASS_COMPONENT}__toggle js-${CLASS_COMPONENT}__toggle` aria-haspopup aria-expanded='false' aria-label='гамбургер главного меню')
        span(class=`${CLASS_COMPONENT}__toggle-line js-${CLASS_COMPONENT}__toggle-line`)

      nav(class=`${CLASS_COMPONENT}__menu-wrapper js-${CLASS_COMPONENT}__menu-wrapper`)
        ul(class=`${CLASS_COMPONENT}__items`)
          li(class=`${CLASS_COMPONENT}__item`)
            a(class=`${CLASS_COMPONENT}__link ${current}` href='https://change-me') О нас
          li(class=`${CLASS_COMPONENT}__item`)
            a(class=`${CLASS_COMPONENT}__link-down js-${CLASS_COMPONENT}__link-down` href='https://change-me') Услуги
              img(class=`${CLASS_COMPONENT}__tip js-${CLASS_COMPONENT}__tip` src=tipSvg, alt='уголок')
            ul(class=`${CLASS_COMPONENT}__items-down js-${CLASS_COMPONENT}__items-down`)
              each text in service
                li(class=`${CLASS_COMPONENT}__item-down`)
                  a(class=`${CLASS_COMPONENT}__link` href='https://change-me')=text

          li(class=`${CLASS_COMPONENT}__item`)
            a(class=`${CLASS_COMPONENT}__link` href='https://change-me') Вакансии
          li(class=`${CLASS_COMPONENT}__item`)
            a(class=`${CLASS_COMPONENT}__link` href='https://change-me') Новости
          li(class=`${CLASS_COMPONENT}__item`)
            a(class=`${CLASS_COMPONENT}__link-down js-${CLASS_COMPONENT}__link-down` href='https://change-me') Соглашения
              img(class=`${CLASS_COMPONENT}__tip js-${CLASS_COMPONENT}__tip` src=tipSvg, alt='уголок')
            ul(class=`${CLASS_COMPONENT}__items-down js-${CLASS_COMPONENT}__items-down`)
              each text in agreements
                li(class=`${CLASS_COMPONENT}__item-down`) 
                  a(class=`${CLASS_COMPONENT}__link` href='https://change-me')=text

      -if (type === 'authorized'){
          div(class=`${CLASS_COMPONENT}__user`)
            a(class=`${CLASS_COMPONENT}__nikname` href='https://change-me') Юлий Цезарь
      -}
      -else{
          div(class=`${CLASS_COMPONENT}__signin-wrapper`)
            +buttons(buttons.signIn)
            
          div(class=`${CLASS_COMPONENT}__registration-wrapper`)
            +buttons(buttons.registration)
      -}