include ../button/button.pug
include ../logo/logo.pug

mixin header(options = {})
  -
    const {
      isAuthorized = false,
      menu = [],
      buttons = [],
    } = options;

    const BASE_CLASS = 'header'
    const tipSvg = require('./img/tip.svg')
    const current =`${BASE_CLASS}__link_current`

  header(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    div(class=`${BASE_CLASS}__wrapper`)
      div(class=`${BASE_CLASS}__link-logo`)
        +logo({link:'/landing-page.html'})

      button(class=`${BASE_CLASS}__toggle js-${BASE_CLASS}__toggle` aria-haspopup aria-expanded='false' aria-label='гамбургер главного меню')
        span(class=`${BASE_CLASS}__toggle-line js-${BASE_CLASS}__toggle-line`)

      nav(class=`${BASE_CLASS}__menu-wrapper js-${BASE_CLASS}__menu-wrapper`)
        ul(class=`${BASE_CLASS}__items`)

          each item in menu
            - if(Array.isArray(item.subMenu)){
                li(class=`${BASE_CLASS}__item`)
                  a(class=`${BASE_CLASS}__link-down js-${BASE_CLASS}__link-down ${(item.isCurrent ? current : '')}` href='https://change-me')= item.name
                    img(class=`${BASE_CLASS}__tip js-${BASE_CLASS}__tip` src=tipSvg, alt='уголок')

                  ul(class=`${BASE_CLASS}__items-down js-${BASE_CLASS}__items-down`)
                    each subItem in item.subMenu
                      li(class=`${BASE_CLASS}__item-down`)
                        a(class=`${BASE_CLASS}__link` href='https://change-me')= subItem

            -} else {
                li(class=`${BASE_CLASS}__item`)
                  a(class=`${BASE_CLASS}__link ${(item.isCurrent ? current : '')}` href='https://change-me')= item.name
            -}

      -if (isAuthorized){
          div(class=`${BASE_CLASS}__user`)
            a(class=`${BASE_CLASS}__nickname` href='https://change-me') Юлий Цезарь
      -}
      -else{
        each item in buttons
          div(class=`${BASE_CLASS}__button`)
            +button(item)
      -}