include ../buttons/buttons.pug
include ../logo/logo.pug

mixin header(options = {})
  -
    let { current } = options; 
    const {
      type = '',
      modifier = '',
      addClass = '',
    } = options;

    const classComponent = 'header'
    const tipSvg = require('./img/tip.svg')
    let className = classComponent

    const {
      service,
      agreements,
      buttons,
    } = require('./header.json');

    if(current){
      current =`${classComponent}__link_current`
    }
    if(modifier){
      className +=` ${classComponent}_${modifier}`
    }
    if(addClass){
      className +=` ${addClass}`
    }

  header(class=`${className} js-${classComponent}`)
    div(class=`${classComponent}__wrapper`)
      div(class=`${classComponent}__link-logo`)
        +logo({link:'/landing-page.html'})

      button(class=`${classComponent}__toggle js-${classComponent}__toggle` aria-haspopup aria-expanded='false' aria-label='гамбургер главного меню')
        span(class=`${classComponent}__toggle-line js-${classComponent}__toggle-line`)

      nav(class=`${classComponent}__menu-wrapper js-${classComponent}__menu-wrapper`)
        ul(class=`${classComponent}__items` role='navigation')
          li(class=`${classComponent}__item`)
            a(class=`${classComponent}__link ${current}` href='https://change-me') О нас
          li(class=`${classComponent}__item`)
            a(class=`${classComponent}__link-down js-${classComponent}__link-down` href='https://change-me') Услуги
              img(class=`${classComponent}__tip js-${classComponent}__tip` src=tipSvg, alt='уголок')
            ul(class=`${classComponent}__items-down js-${classComponent}__items-down` role='navigation')
              each text in service
                li(class=`${classComponent}__item-down`)
                  a(class=`${classComponent}__link` href='https://change-me')=text

          li(class=`${classComponent}__item`)
            a(class=`${classComponent}__link` href='https://change-me') Вакансии
          li(class=`${classComponent}__item`)
            a(class=`${classComponent}__link` href='https://change-me') Новости
          li(class=`${classComponent}__item`)
            a(class=`${classComponent}__link-down js-${classComponent}__link-down` href='https://change-me') Соглашения
              img(class=`${classComponent}__tip js-${classComponent}__tip` src=tipSvg, alt='уголок')
            ul(class=`${classComponent}__items-down js-${classComponent}__items-down` role='navigation')
              each text in agreements
                li(class=`${classComponent}__item-down`) 
                  a(class=`${classComponent}__link` href='https://change-me')=text

      -if (type === 'authorized'){
          div(class=`${classComponent}__user`)
            a(class=`${classComponent}__nikname` href='https://change-me') Юлий Цезарь
      -}
      -else{
          div(class=`${classComponent}__signin-wrapper`)
            +buttons(buttons.signIn)
            
          div(class=`${classComponent}__registration-wrapper`)
            +buttons(buttons.registration)
      -}