mixin colored-square(options = {})
  - 
    const {
      textTop = '',
      textBot = '',
      modifier = ''
    } = options;
    const BASE_CLASS = 'colored-square'
    let classSquare = `${BASE_CLASS}__square`
    const modifierSquare = modifier ?? ''
  if modifierSquare
    - classSquare += ` ${classSquare}_${modifierSquare}`
  
  div(class=BASE_CLASS)
    div(class=classSquare)
    
    div.squareColor__text
      p(class=`${BASE_CLASS}__color`)= textTop
      p(class=`${BASE_CLASS}__hexColor`)= textBot
