mixin bullet-list(options = {})
  -
    const {
      label = '',
      items = '',
      modifier = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'bullet-list'
    let className = CLASS_COMPONENT

  if modifier
    - className += ` ${CLASS_COMPONENT}_big`

  if addClass
    - className += ` ${addClass}`
  

  div(class=className)
    if label
      h2(class=`${CLASS_COMPONENT}__header`)= label
    
    
    ul(class=`${CLASS_COMPONENT}__items`)
      each item in items
        li(class=`${CLASS_COMPONENT}__item`)= item

