mixin bullet-list(options)
  -
    const label = options.label ?? ''
    const text = options.text ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel
    const classComp = 'bullet-list'
    let className = classComp

    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=className)
    - if(!flLabel){
    p(class=`${classComp}__header`)= label
    -}
    
    ul(class=`${classComp}__items`)
      -for(let item of text){
      li(class=`${classComp}__item`)= item
      -}  
