mixin bullet-list(options = {})
  -
    const {
      label = '',
      text = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'bullet-list'
    let className = CLASS_COMPONENT

    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=className)
    - if(!isLabeled){
        h2(class=`${CLASS_COMPONENT}__header`)= label
    -}
    
    ul(class=`${CLASS_COMPONENT}__items`)
      -for(let item of text){
        li(class=`${CLASS_COMPONENT}__item`)= item
      -}
