mixin bullet-list(options = {})
  -
    const {
      label = '',
      text = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'bullet-list'
    let className = classComponent

    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=className)
    - if(!isLabeled){
    p(class=`${classComponent}__header`)= label
    -}
    
    ul(class=`${classComponent}__items`)
      -for(let item of text){
      li(class=`${classComponent}__item`)= item
      -}  
