mixin bullet-list(options = {})
  -
    const {
      label = '',
      items = [],
      isBig = false,
    } = options;

    const BASE_CLASS = 'bullet-list'
    let className = BASE_CLASS
    let modifier = '';
  if isBig
    - modifier = ` ${BASE_CLASS}__header_big`

  div(class=className)
    if label
      h2(class=`${BASE_CLASS}__header${modifier}`)= label
    
    ul(class=`${BASE_CLASS}__items`)
      each item in items
        li(class=`${BASE_CLASS}__item`)= item

