mixin bullet-list(options = {})
  -
    const {
      label = '',
      items = [],
      isBig = false,
      addClass = '',
    } = options;

    const BASE_CLASS = 'bullet-list'
    let className = BASE_CLASS

  if isBig
    - className += ` ${BASE_CLASS}_big`

  if addClass
    - className += ` ${addClass}`
  

  div(class=className)
    if label
      h2(class=`${BASE_CLASS}__header`)= label
    
    
    ul(class=`${BASE_CLASS}__items`)
      each item in items
        li(class=`${BASE_CLASS}__item`)= item

