mixin toggle-buttons(options)
  -
    const header = options.header ?? ''
    const label = options.label ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel
    const classComp = 'toggle-buttons'
    let className = classComp
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=className)
    - if(!flLabel){
    p(class=`${classComp}__header`)= header
    -}
    
    div(class=`${classComp}__tog`)
      label(class=`${classComp}__label`)= label
        input(class=`${classComp}__input` type='checkbox' name='toggle')
        span(class=`${classComp}__bef`)

