mixin toggle-buttons(options = {})
  -
    const {
      header = '',
      label = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'toggle-buttons'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=className)
    -if(!isLabeled){
        p(class=`${classComponent}__header`)= header
    -}
    
    div(class=`${classComponent}__wrapper`)
      label(class=`${classComponent}__label`)= label
        input(class=`${classComponent}__input` type='checkbox' name='toggle')
        span(class=`${classComponent}__before`)

