mixin expCheckboxList(cl_name,classComp,masElem,label,nameD,click=false,modif='',flLabel=false)
	- let className = classComp+' '+cl_name+'__'+classComp+' '+modif
	div(class=className)
		div(class=classComp+"__wrap")
			- if(!flLabel){
			span(class=classComp+"__header")= label
			-}
			- if(!click){
			img(class=classComp+"__tip" src="assets/img/inetrface/tip.svg" alt="" style="width: 13px;")
			-}
		ul(class=classComp+"__items") 
			- for(let i=0; i<masElem.length; i++)	{
				li(class=classComp+"__item")
					input(class=classComp+"__input" type='checkbox' name=masElem[i] id=nameD+i)
					label(class=classComp+"__label" for=nameD+i)= masElem[i]
					a(class=classComp+"__bef" href="#")
			-}