include ../subscrip-textfield/subscrip-textfield.pug
include ../logo/logo.pug
include ../navigation/navigation.pug

mixin footer(options = {})
  -
    const {
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'footer'
    let className = CLASS_COMPONENT

    const {
      socialData,
      navigation,
      subscrip,
    } = require('./footer.json'); 
  
  if addClass
    - className += ` ${addClass}`

  footer(class=className)
    div(class=`${CLASS_COMPONENT}__top`)
      div(class=`${CLASS_COMPONENT}__top-wrapper`)

        div(class=`${CLASS_COMPONENT}__recommendation-wrapper`)
          div(class=`${CLASS_COMPONENT}__logo-wrapper`)
            +logo({link:'/landing-page.html'})
          p(class=`${CLASS_COMPONENT}__recommendation-text`) Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        div(class=`${CLASS_COMPONENT}__navigation-wrapper`)
          +navigation(navigation.different)

        div(class=`${CLASS_COMPONENT}__about-us-wrapper`)
          +navigation(navigation.about)

        div(class=`${CLASS_COMPONENT}__support-wrapper`)
          +navigation(navigation.support)

        div(class=`${CLASS_COMPONENT}__subscrip-wrapper`)
          p(class=`${CLASS_COMPONENT}__subscrip-header`) Подписка
          p(class=`${CLASS_COMPONENT}__subscrip-text`) Получайте специальные предложения и новости сервиса
          +subscrip-textfield(subscrip)

    div(class=`${CLASS_COMPONENT}__bottom`)
      div(class=`${CLASS_COMPONENT}__bottom-wrapper`)
        p(class=`${CLASS_COMPONENT}__copyright`) Copyright © 2018 Toxin отель. Все права защищены.

        ul(class=`${CLASS_COMPONENT}__social`)
          each icon, text in socialData
            li(class=`${CLASS_COMPONENT}__social-item`)
              a(class=`${CLASS_COMPONENT}__social-link` href='https://change-me' target='_blank' rel='noopener noreferrer')
                img(class=`${CLASS_COMPONENT}__social-icon` src=require('./img/'+icon) alt=text title=text)
