include ../subscrip-textfield/subscrip-textfield.pug
include ../logo/logo.pug
include ../navigation/navigation.pug

mixin footer(options)
  -
    let modif = options.modif ?? []
    let addClass = options.class ?? ''
    let classComp = 'footer'
    let className = classComp
    if(modif){
      for(let item of modif)
    className += ' '+classComp+'_'+item
    }
    if(addClass){
    className += ' '+addClass}
  footer(class=className role='contentinfo')
    div(class=classComp+'__top')
      div(class=classComp+'__top-wrap')
        div(class=classComp+'__recommendation-wrap')
          div(class=classComp+'__logo-wrap')
            +logo({})
          p(class=classComp+'__recommendation-text') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        div(class=classComp+'__navigation-wrap')
          -
            let masText = [
            'О нас',
            'Новости',
            'Служба поддержки',
            'Услуги'
            ];
          +navigation({
              header:'навигация',
              masText: masText
            })
        div(class=classComp+'__about-us-wrap')
          -
            masText = [
            'О сервисе',
            'Наша команда',
            'Вакансии',
            'Инвесторы'
            ];
          +navigation({
              header:'о нас',
              masText: masText
            })
        div(class=classComp+'__support-wrap')
          -
            masText = [
            'Соглашения',
            'Сообщества',
            'Связь с нами'
            ];
          +navigation({
              header:'Служба поддержки',
              masText: masText
            })
        div(class=classComp+'__subscrip-wrap')
          h3(class=classComp+'__subscrip-header') Подписка
          p(class=classComp+'__subscrip-text') Получайте специальные предложения и новости сервиса
          +subscrip-textfield({
            flLabel:true,
            value:'Email'
          })
    div(class=classComp+'__bottom')
      div(class=classComp+'__bottom-wrap')
        p(class=classComp+'__copyright') Copyright © 2018 Toxin отель. Все права защищены.
        ul(class=classComp+'__social')
          li(class=classComp+'__social-item')
            a(class=classComp+'__social-link' href='https://test/test')
              img(class=classComp+'__social-icon' src=require('@com/footer/img/twitter.svg').default alt='twitter' title='twitter')
          li(class=classComp+'__social-item')
            a(class=classComp+'__social-link' href='https://test/test')
              img(class=classComp+'__social-icon' src=require('@com/footer/img/facebook.svg').default alt='facebook' title='facebook')
          li(class=classComp+'__social-item')
            a(class=classComp+'__social-link' href='https://test/test')
              img(class=classComp+'__social-icon' src=require('@com/footer/img/instagram.svg').default alt='instagram' title='instagram')

              