include ../subscrip-textfield/subscrip-textfield.pug
include ../logo/logo.pug
include ../navigation/navigation.pug

mixin footer(options = {})
  -
    const {
      modifier = [],
      addClass = '',
    } = options;

    const classComponent = 'footer'
    let className = classComponent

    const data = require('./footer.json'); 

    const socialData = data.socialData
    const navigation = data.navigation
    const subscrip = data.subscrip

    if(modifier){
      for(let item of modifier)
    className += ` ${classComponent}_${item}`
    }
    if(addClass){
    className += ` ${addClass}`}

  footer(class=className role='contentinfo')
    div(class=`${classComponent}__top`)
      div(class=`${classComponent}__top-wrap`)

        div(class=`${classComponent}__recommendation-wrap`)
          div(class=`${classComponent}__logo-wrap`)
            +logo({})
          p(class=`${classComponent}__recommendation-text`) Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        div(class=`${classComponent}__navigation-wrap`)
          +navigation(navigation.different)

        div(class=`${classComponent}__about-us-wrap`)
          +navigation(navigation.about)

        div(class=`${classComponent}__support-wrap`)
          +navigation(navigation.support)

        div(class=`${classComponent}__subscrip-wrap`)
          p(class=`${classComponent}__subscrip-header`) Подписка
          p(class=`${classComponent}__subscrip-text`) Получайте специальные предложения и новости сервиса
          +subscrip-textfield(subscrip)

    div(class=`${classComponent}__bottom`)
      div(class=`${classComponent}__bottom-wrap`)
        p(class=`${classComponent}__copyright`) Copyright © 2018 Toxin отель. Все права защищены.

        ul(class=`${classComponent}__social`)
          each icon, text in socialData
            li(class=`${classComponent}__social-item`)
              a(class=`${classComponent}__social-link` href='https://change-me')
                img(class=`${classComponent}__social-icon` src=require('./img/'+icon) alt=text title=text)
