include ../subscription-textfield/subscription-textfield.pug
include ../logo/logo.pug
include ../navigation/navigation.pug

mixin footer()
  -
    const BASE_CLASS = 'footer'

    const {
      socialData,
      navigation,
      subscrip,
    } = require('./footer.json'); 

  footer(class=BASE_CLASS)
    div(class=`${BASE_CLASS}__top`)
      div(class=`${BASE_CLASS}__top-wrapper`)

        div(class=`${BASE_CLASS}__recommendation-wrapper`)
          div(class=`${BASE_CLASS}__logo-wrapper`)
            +logo({link:'/landing-page.html'})
          p(class=`${BASE_CLASS}__recommendation-text`) Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        div(class=`${BASE_CLASS}__navigation-wrapper`)
          +navigation(navigation.different)

        div(class=`${BASE_CLASS}__about-us-wrapper`)
          +navigation(navigation.about)

        div(class=`${BASE_CLASS}__support-wrapper`)
          +navigation(navigation.support)

        div(class=`${BASE_CLASS}__subscrip-wrapper`)
          p(class=`${BASE_CLASS}__subscrip-header`) Подписка
          p(class=`${BASE_CLASS}__subscrip-text`) Получайте специальные предложения и новости сервиса
          +subscription-textfield(subscrip)

    div(class=`${BASE_CLASS}__bottom`)
      div(class=`${BASE_CLASS}__bottom-wrapper`)
        p(class=`${BASE_CLASS}__copyright`) Copyright © 2018 Toxin отель. Все права защищены.

        ul(class=`${BASE_CLASS}__social`)
          each icon, text in socialData
            li(class=`${BASE_CLASS}__social-item`)
              a(class=`${BASE_CLASS}__social-link` href='https://change-me' target='_blank' rel='noopener noreferrer')
                img(class=`${BASE_CLASS}__social-icon` src=require(`./img/${icon}`) alt=text title=text)
