mixin likeButton(cl_name,classComp,label,flLabel=false,modif='')
	- let className = classComp+' '+cl_name+'__'+classComp+' '+modif
	div(class=className)
		- if(!flLabel){
		p(class=classComp+"__header")= label
		-}
		a(class=classComp+"__like" href="UrlNull")
			img(class=classComp+"__icon" src="assets/img/inetrface/like.svg" alt="")
			span(class=classComp+"__value") 2
