include ../buttons/buttons.pug

mixin drop-down(options)
  -
    const label = options.label ?? ''
    const value = options.value ?? ''
    const name = options.name ?? ''
    const masWord = options.masWord ?? [[]]
    const maxValue = options.maxValue ?? []
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const button = options.button
    const flLabel = options.flLabel
    const classComp = 'drop-down'
    let className = classComp
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  div(class=`${className} js-${classComp}`)
    - if(!flLabel){
    p(class=`${classComp}__text-header`)= label
    -}

    div(class=`${classComp}__wrap`)
      input(class=`${classComp}__input js-${classComp}__input` type='text' placeholder=value value='' name=name readonly)
      img(class=`${classComp}__tip js-${classComp}__tip` src=require('@com/drop-down/img/tip.svg').default alt='угалок')

      ul(class=`${classComp}__select js-${classComp}__select`)
        - for(let i=0; i<masWord[0].length; i++)  {
          li(class=`${classComp}__select-item js-${classComp}__select-item` data-type= masWord[1][i])
            p(class=`${classComp}__text`)= masWord[0][i]
            button(class=`${classComp}__minus js-${classComp}__minus` aria-label='минус') -
            span(class=`${classComp}__value js-${classComp}__value`) 0
            button(class=`${classComp}__plus js-${classComp}__plus` data-max=maxValue[i] aria-label='плюс') +
        -}
        
        -if(button){
        li(class=`${classComp}__buttons`)
          div(class=`${classComp}__button-clear js-${classComp}__button-clear`)
            +buttons({
              text:'очистить',
              type:'button',
              modify:['text']
                  })
          div(class=`${classComp}__button-apply js-${classComp}__button-apply`)
            +buttons({
              text:'применить',
              type:'button',
              modify:['text']
                  })
        -}