include ../buttons/buttons.pug

mixin drop-down(options = {})
  -
    const {
      label = '',
      value = '',
      name = '',
      words = [[]],
      maxValue = [],
      modifier = '',
      addClass = '',
      button,
      isLabeled,
    } = options;

    const classComponent = 'drop-down'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        p(class=`${classComponent}__text-header`)= label
    -}

    div(class=`${classComponent}__wrapper`)
      input(class=`${classComponent}__input js-${classComponent}__input` type='text' placeholder=value value='' name=name readonly)
      img(class=`${classComponent}__tip js-${classComponent}__tip` src=require('./img/tip.svg') alt='угалок')

      ul(class=`${classComponent}__select js-${classComponent}__select`)
        - for(let i=0; i<words[0].length; i++)  {
            li(class=`${classComponent}__select-item js-${classComponent}__select-item` data-type= words[1][i])
              p(class=`${classComponent}__text`)= words[0][i]
              button(class=`${classComponent}__minus js-${classComponent}__minus` aria-label='минус') -
              span(class=`${classComponent}__value js-${classComponent}__value`) 0
              button(class=`${classComponent}__plus js-${classComponent}__plus` data-max=maxValue[i] aria-label='плюс') +
        -}
        
        -if(button){
            li(class=`${classComponent}__buttons`)
              div(class=`${classComponent}__button-clear js-${classComponent}__button-clear`)
                +buttons({
                  text:'очистить',
                  type:'button',
                  modifier:['text']
                      })
              div(class=`${classComponent}__button-apply js-${classComponent}__button-apply`)
                +buttons({
                  text:'применить',
                  type:'button',
                  modifier:['text']
                      })
        -}