include ../buttons/buttons.pug

mixin drop-down(options = {})
  -
    const {
      label = '',
      value = '',
      name = '',
      words = [[]],
      maxValue = [],
      modifier = '',
      addClass = '',
      button,
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'drop-down'
    let className = CLASS_COMPONENT
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  div(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        h2(class=`${CLASS_COMPONENT}__text-header`)= label
    -}

    div(class=`${CLASS_COMPONENT}__wrapper`)
      input(class=`${CLASS_COMPONENT}__input js-${CLASS_COMPONENT}__input` type='text' placeholder=value value='' name=name readonly)
      img(class=`${CLASS_COMPONENT}__tip js-${CLASS_COMPONENT}__tip` src=require('./img/tip.svg') alt='угалок')

      ul(class=`${CLASS_COMPONENT}__select js-${CLASS_COMPONENT}__select`)
        - for(let i=0; i<words[0].length; i++)  {
            li(class=`${CLASS_COMPONENT}__select-item js-${CLASS_COMPONENT}__select-item` data-type= words[1][i])
              p(class=`${CLASS_COMPONENT}__text`)= words[0][i]
              button(class=`${CLASS_COMPONENT}__minus js-${CLASS_COMPONENT}__minus` aria-label='минус') -
              span(class=`${CLASS_COMPONENT}__value js-${CLASS_COMPONENT}__value`) 0
              button(class=`${CLASS_COMPONENT}__plus js-${CLASS_COMPONENT}__plus` data-max=maxValue[i] aria-label='плюс') +
        -}
        
        -if(button){
            li(class=`${CLASS_COMPONENT}__buttons`)
              div(class=`${CLASS_COMPONENT}__button-clear js-${CLASS_COMPONENT}__button-clear`)
                +buttons({
                  text:'очистить',
                  type:'button',
                  modifier:['text']
                      })
              div(class=`${CLASS_COMPONENT}__button-apply js-${CLASS_COMPONENT}__button-apply`)
                +buttons({
                  text:'применить',
                  type:'button',
                  modifier:['text']
                      })
        -}