include ../rate-button/rate-button.pug

mixin room-card(options = {})
  -
    const {
      rateName = 'room-1',
      number = '',
      price = '',
      reviews = '',
      lux,
      modifier = '',
      addClass = '',
    } = options;

    const classComponent = 'room-card'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  article(class=`${className} js-${classComponent}`)

    div(class=`${classComponent}__slider-wrap js-${classComponent}__slider-wrap`)
      div(class=`${classComponent}__relation-ratio`)
      a(class=`${classComponent}__link js-${classComponent}__link` href='https://change-me' aria-label='карточка номера')
        img(class=`${classComponent}__slide ${classComponent}__slide_visible js-${classComponent}__slide` src=require('./img/beige-room.webp'), alt='номер люкс')
        img(class=`${classComponent}__slide js-${classComponent}__slide` src=require('./img/crimson-room.webp'), alt='номер люкс')
        img(class=`${classComponent}__slide js-${classComponent}__slide` src=require('./img/red-room.webp'), alt='номер люкс')
        img(class=`${classComponent}__slide js-${classComponent}__slide` src=require('./img/blue-room.webp'), alt='номер люкс')
      div(class=`${classComponent}__dot-wrap js-${classComponent}__dot-wrap`)
      button(class=`${classComponent}__prev-wrap js-${classComponent}__prev-wrap` aria-label='предыдущий слайд')
        img(class=`${classComponent}__prev` src=require('./img/expand-more.svg'), alt='стрелка в лево')
      button(class=`${classComponent}__next-wrap js-${classComponent}__next-wrap` aria-label='следующий слайд')
        img(class=`${classComponent}__next` src=require('./img/expand-more.svg'), alt='стрелка в право')

    a(class=`${classComponent}__header-wrap` href='https://change-me')
      div(class=`${classComponent}__number-wrap`)
        span(class=`${classComponent}__header-num`) №
        p(class=`${classComponent}__header`)= number
        - if(lux){
            span(class=`${classComponent}__lux`) люкс
        -}
      div(class=`${classComponent}__price-wrap`)
        span(class=`${classComponent}__price`)= price+'₽'
        span(class=`${classComponent}__price-text`) в сутки
        
    div(class=`${classComponent}__rate-wrap`)
      +rate-button({
        isLabeled:true,
        name:rateName
        })
      div(class=`${classComponent}__reviews-wrap`)
        span(class=`${classComponent}__reviews`)= reviews
        span(class=`${classComponent}__reviews-text`) Отзывов
