include ../star-rating/star-rating.pug

mixin room-card(options = {})
  -
    const {
      rateName = 'room-1',
      number = '',
      price = '',
      reviews = '',
      isLux = false,
    } = options;

    const BASE_CLASS = 'room-card'

  article(class=`${BASE_CLASS} js-${BASE_CLASS}`)

    div(class=`${BASE_CLASS}__slider-wrapper js-${BASE_CLASS}__slider-wrapper`)
      div(class=`${BASE_CLASS}__relation-ratio`)
      a(class=`${BASE_CLASS}__link js-${BASE_CLASS}__link` href='/room-details.html' aria-label='карточка номера')
        img(class=`${BASE_CLASS}__slide ${BASE_CLASS}__slide_visible js-${BASE_CLASS}__slide` src=require('./img/beige-room.webp'), alt='номер люкс')
        img(class=`${BASE_CLASS}__slide js-${BASE_CLASS}__slide` src=require('./img/crimson-room.webp'), alt='номер люкс')
        img(class=`${BASE_CLASS}__slide js-${BASE_CLASS}__slide` src=require('./img/red-room.webp'), alt='номер люкс')
        img(class=`${BASE_CLASS}__slide js-${BASE_CLASS}__slide` src=require('./img/blue-room.webp'), alt='номер люкс')
      div(class=`${BASE_CLASS}__dot-wrapper js-${BASE_CLASS}__dot-wrapper`)
      button(class=`${BASE_CLASS}__prev-wrapper js-${BASE_CLASS}__prev-wrapper` aria-label='предыдущий слайд')
        img(class=`${BASE_CLASS}__prev` src=require('./img/expand-more.svg'), alt='стрелка в лево')
      button(class=`${BASE_CLASS}__next-wrapper js-${BASE_CLASS}__next-wrapper` aria-label='следующий слайд')
        img(class=`${BASE_CLASS}__next` src=require('./img/expand-more.svg'), alt='стрелка в право')

    h2(class=`${BASE_CLASS}__title`)
      a(class=`${BASE_CLASS}__header-wrapper` href='/room-details.html')
        span(class=`${BASE_CLASS}__number-wrapper`)
          span(class=`${BASE_CLASS}__header-num`) №
          span(class=`${BASE_CLASS}__header`)= number
          if isLux
            span(class=`${BASE_CLASS}__lux`) люкс
          
        span(class=`${BASE_CLASS}__price-wrapper`)
          span(class=`${BASE_CLASS}__price`)= `${price}₽`
          span(class=`${BASE_CLASS}__price-text`) в сутки
        
    div(class=`${BASE_CLASS}__rate-wrapper`)
      +star-rating({name:rateName})
      div(class=`${BASE_CLASS}__reviews-wrapper`)
        span(class=`${BASE_CLASS}__reviews`)= reviews
        span(class=`${BASE_CLASS}__reviews-text`) Отзывов
