include ../star-rating/star-rating.pug

mixin room-card(options = {})
  -
    const {
      rateName = 'room-1',
      number = '',
      price = '',
      reviews = '',
      lux,
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'room-card'
    let className = CLASS_COMPONENT

  if addClass
    - className += ` ${addClass}`
  

  article(class=`${className} js-${CLASS_COMPONENT}`)

    div(class=`${CLASS_COMPONENT}__slider-wrapper js-${CLASS_COMPONENT}__slider-wrapper`)
      div(class=`${CLASS_COMPONENT}__relation-ratio`)
      a(class=`${CLASS_COMPONENT}__link js-${CLASS_COMPONENT}__link` href='/room-details.html' aria-label='карточка номера')
        img(class=`${CLASS_COMPONENT}__slide ${CLASS_COMPONENT}__slide_visible js-${CLASS_COMPONENT}__slide` src=require('./img/beige-room.webp'), alt='номер люкс')
        img(class=`${CLASS_COMPONENT}__slide js-${CLASS_COMPONENT}__slide` src=require('./img/crimson-room.webp'), alt='номер люкс')
        img(class=`${CLASS_COMPONENT}__slide js-${CLASS_COMPONENT}__slide` src=require('./img/red-room.webp'), alt='номер люкс')
        img(class=`${CLASS_COMPONENT}__slide js-${CLASS_COMPONENT}__slide` src=require('./img/blue-room.webp'), alt='номер люкс')
      div(class=`${CLASS_COMPONENT}__dot-wrapper js-${CLASS_COMPONENT}__dot-wrapper`)
      button(class=`${CLASS_COMPONENT}__prev-wrapper js-${CLASS_COMPONENT}__prev-wrapper` aria-label='предыдущий слайд')
        img(class=`${CLASS_COMPONENT}__prev` src=require('./img/expand-more.svg'), alt='стрелка в лево')
      button(class=`${CLASS_COMPONENT}__next-wrapper js-${CLASS_COMPONENT}__next-wrapper` aria-label='следующий слайд')
        img(class=`${CLASS_COMPONENT}__next` src=require('./img/expand-more.svg'), alt='стрелка в право')

    h2(class=`${CLASS_COMPONENT}__title`)
      a(class=`${CLASS_COMPONENT}__header-wrapper` href='/room-details.html')
        span(class=`${CLASS_COMPONENT}__number-wrapper`)
          span(class=`${CLASS_COMPONENT}__header-num`) №
          span(class=`${CLASS_COMPONENT}__header`)= number
          if lux
            span(class=`${CLASS_COMPONENT}__lux`) люкс
          
        span(class=`${CLASS_COMPONENT}__price-wrapper`)
          span(class=`${CLASS_COMPONENT}__price`)= price+'₽'
          span(class=`${CLASS_COMPONENT}__price-text`) в сутки
        
    div(class=`${CLASS_COMPONENT}__rate-wrapper`)
      +star-rating({name:rateName})
      div(class=`${CLASS_COMPONENT}__reviews-wrapper`)
        span(class=`${CLASS_COMPONENT}__reviews`)= reviews
        span(class=`${CLASS_COMPONENT}__reviews-text`) Отзывов
