mixin text-field(options = {})
  -
    const {
      label = '',
      placeholder = '',
      typeField = '',
      name = '',
      addClass = '',
    } = options;

    const CLASS_COMPONENT = 'text-field'
    let className = CLASS_COMPONENT

  if addClass
    - className += ` ${addClass}`
  
    
  div(class=className)
    label(class=`${CLASS_COMPONENT}__label`)
      if label
        =label
      
      input(class=`${CLASS_COMPONENT}__input` type=typeField placeholder=placeholder value='' name=name)
      