mixin text-field(options = {})
  -
    const {
      label = '',
      placeholder = '',
      typeField = '',
      name = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'text-field'
    let className = CLASS_COMPONENT
    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }
    
  div(class=className)
    label(class=`${CLASS_COMPONENT}__label`)
      - if(!isLabeled){
          p(class=`${CLASS_COMPONENT}__label-text`)= label
      -}
      input(class=`${CLASS_COMPONENT}__input` type=typeField placeholder=placeholder value='' name=name)
      