mixin text-field(options = {})
  -
    const {
      label = '',
      placeholder = '',
      typeField = '',
      name = '',
      isMaskedDate = false,
    } = options;

    const BASE_CLASS = 'text-field'

    let className = BASE_CLASS
    
  if isMaskedDate
      - className += ` js-${BASE_CLASS}`
    
  div(class=className)
    label(class=`${BASE_CLASS}__label`)
      if label
        =label
      
      input(class=`${BASE_CLASS}__input` type=typeField placeholder=placeholder value='' name=name)
      