mixin text-field(options = {})
  -
    const {
      label = '',
      placeholder = '',
      typeField = '',
      value = '',
      name = '',
      autocomplete = 'off',
      isHidden = false,
      hasTip = false,
      isFilterDate = false,
      variants = [],
    } = options;

    const BASE_CLASS = 'text-field'
    const classDateMinimal = `${BASE_CLASS}__input_variant_date-minimal`
    const filterDateName = `${BASE_CLASS}_variant_filter-date`

    const variantModifiers = {
      'date-minimal': `${BASE_CLASS}__input_variant_date-minimal`,
      'with-indent': `${BASE_CLASS}__input_variant_with-indent`,
    }

    const variantModifiersArray = [];
    variants.forEach((variant) => variantModifiersArray.push(variantModifiers[variant]))

    const attributesBlock = {
        class: [`${BASE_CLASS}__input`,[...variantModifiersArray],`js-${BASE_CLASS}__input`],
        type:typeField,
        placeholder:placeholder,
        value:value,
        name:name,
        autocomplete:autocomplete,
    }
    
  div(
    class=`${BASE_CLASS} js-${BASE_CLASS} ${(isFilterDate ? filterDateName : '')}`
    data-type = isHidden ? 'hidden' : ''
  )
    label(class=`${BASE_CLASS}__label`)
      if label
        =label
      
      input&attributes(attributesBlock)
        
      if hasTip
        img(class=`${BASE_CLASS}__tip js-${BASE_CLASS}__tip` src=require('./img/tip.svg') alt='уголок')