mixin text-field(options)
  -
    const label = options.label ?? ''
    const placeholder = options.placeholder ?? ''
    const typeField = options.type ?? ''
    const name = options.name ?? ''
    const modifier = options.modifier ?? ''
    const addClass = options.class ?? ''
    const isLabeled = options.isLabeled
    const classComponent = 'text-field'
    let className = classComponent
    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}
    
  div(class=className)
    label(class=`${classComponent}__label`)
      - if(!isLabeled){
      p(class=`${classComponent}__label-text`)= label
      -}
      input(class=`${classComponent}__input` type=typeField placeholder=placeholder value='' name=name)
      