mixin text-field(options)
  -
    const label = options.label ?? ''
    const placeholder = options.placeholder ?? ''
    const typeField = options.type ?? ''
    const name = options.name ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel ?? false
    const classComp = 'text-field'
    let className = classComp
    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}
    
  div(class=className)
    label(class=`${classComp}__label`)
      - if(!flLabel){
      p(class=`${classComp}__label-text`)= label
      -}
      input(class=`${classComp}__input` type=typeField placeholder=placeholder value='' name=name)
      