mixin text-field(options = {})
  -
    const {
      label = '',
      placeholder = '',
      typeField = '',
      name = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'text-field'
    let className = classComponent
    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }
    
  div(class=className)
    label(class=`${classComponent}__label`)
      - if(!isLabeled){
          p(class=`${classComponent}__label-text`)= label
      -}
      input(class=`${classComponent}__input` type=typeField placeholder=placeholder value='' name=name)
      