mixin subscription-textfield(options = {})
  -
    const {
      label = '',
      value = '',
    } = options;

    const BASE_CLASS = 'subscription-textfield'

  form(class=`${BASE_CLASS} js-${BASE_CLASS}` action='https://change-me' method='post')
    if label
      h2(class=`${BASE_CLASS}__label-text`)= label

    input(class=`${BASE_CLASS}__input js-${BASE_CLASS}__input` type='email' placeholder=value value='' name='subscrip')
      
    button(class=`${BASE_CLASS}__link js-${BASE_CLASS}__link` type="submit" aria-label='подписаться' title='подписаться')
      img(class=`${BASE_CLASS}__tip` src=require('./img/arrow-forward.svg') alt='стрелка - подписаться')
