include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../buttons/buttons.pug

mixin registration(options = {})
  -
    const {
      header = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const CLASS_COMPONENT = 'registration'
    let className = CLASS_COMPONENT

    const {
      textField,
      toggleButtons,
      buttons,
    } = require('./registration.json');

    if(modifier){
      className += ` ${CLASS_COMPONENT}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  article(class=`${className} js-${CLASS_COMPONENT}`)
    - if(!isLabeled){
        header(class=`${CLASS_COMPONENT}__header-wrapper`)
          h1(class=`${CLASS_COMPONENT}__header`)= header
    -}

    form(class=`${CLASS_COMPONENT}__form` action='' method='post')
      fieldset(class=`${CLASS_COMPONENT}__full-name`)

        div(class=`${CLASS_COMPONENT}__name-wrapper js-${CLASS_COMPONENT}__name-wrapper`)
          +text-field(textField.name)

        div(class=`${CLASS_COMPONENT}__surname-wrapper js-${CLASS_COMPONENT}__surname-wrapper`)
          +text-field(textField.surname)

      div(class=`${CLASS_COMPONENT}__gender-wrapper`)
        +radio-buttons({
          isLabeled:true
        })

      div(class=`${CLASS_COMPONENT}__date-wrapper js-${CLASS_COMPONENT}__date-wrapper`)
          +text-field(textField.date)

      fieldset(class=`${CLASS_COMPONENT}__identification`)
        legend(class=`${CLASS_COMPONENT}__data-text`) данные для входа в сервис

        div(class=`${CLASS_COMPONENT}__email-wrapper js-${CLASS_COMPONENT}__email-wrapper`)
          +text-field(textField.email)

        div(class=`${CLASS_COMPONENT}__password-wrapper js-${CLASS_COMPONENT}__password-wrapper`)
          +text-field(textField.password)

      div(class=`${CLASS_COMPONENT}__toggle-wrapper`)
        +toggle(toggleButtons)

      div(class=`${CLASS_COMPONENT}__submit-wrapper js-${CLASS_COMPONENT}__submit-wrapper`)
        +buttons(buttons.submit)
        
      div(class=`${CLASS_COMPONENT}__sign-in`)
        p(class=`${CLASS_COMPONENT}__text-in`) Уже есть аккаунт на Toxin
        +buttons(buttons.link)