include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin registration(header = '')
  -
    const BASE_CLASS = 'registration'

    const {
      textField,
      toggleButton,
      button,
    } = require('./registration.json');

  article(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    if header
      header(class=`${BASE_CLASS}__header-wrapper`)
        h1(class=`${BASE_CLASS}__header`)= header
    
    form(class=`${BASE_CLASS}__form` action='https://change-me' method='post')
      fieldset(class=`${BASE_CLASS}__full-name`)

        div(class=`${BASE_CLASS}__name-wrapper js-${BASE_CLASS}__name-wrapper`)
          +text-field(textField.name)

        div(class=`${BASE_CLASS}__surname-wrapper js-${BASE_CLASS}__surname-wrapper`)
          +text-field(textField.surname)

      div(class=`${BASE_CLASS}__gender-wrapper`)
        +radio-buttons()

      div(class=`${BASE_CLASS}__date-wrapper js-${BASE_CLASS}__date-wrapper`)
          +text-field(textField.date)

      fieldset(class=`${BASE_CLASS}__identification`)
        legend(class=`${BASE_CLASS}__data-text`) данные для входа в сервис

        div(class=`${BASE_CLASS}__email-wrapper js-${BASE_CLASS}__email-wrapper`)
          +text-field(textField.email)

        div(class=`${BASE_CLASS}__password-wrapper js-${BASE_CLASS}__password-wrapper`)
          +text-field(textField.password)

      div(class=`${BASE_CLASS}__toggle-wrapper`)
        +toggle(toggleButton)

      div(class=`${BASE_CLASS}__submit-wrapper js-${BASE_CLASS}__submit-wrapper`)
        +button(button.submit)
        
      div(class=`${BASE_CLASS}__sign-in`)
        p(class=`${BASE_CLASS}__text-in`) Уже есть аккаунт на Toxin
        +button(button.link)