include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle-buttons/toggle-buttons.pug
include ../buttons/buttons.pug

mixin registration(options)
  -
    const header = options.header ?? ''
    const modify = options.modify ?? ''
    const addClass = options.class ?? ''
    const flLabel = options.flLabel
    const classComp = 'registration'
    let className = classComp

    const path = '/components/registration/registration.json' 
    const data = htmlWebpackPlugin.options.getData(path)
    const textField = data.textField
    const toggleButtons = data.toggleButtons
    const buttons = data.buttons

    if(modify){
    className += ` ${classComp}_${modify}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=`${className} js-${classComp}`)
    - if(!flLabel){
    header(class=`${classComp}__header-wrap`)
      h1(class=`${classComp}__header`)= header
    -}

    form(class=`${classComp}__form` action='' method='post')
      fieldset(class=`${classComp}__full-name`)

        div(class=`${classComp}__name-wrap js-${classComp}__name-wrap`)
          +text-field(textField.name)

        div(class=`${classComp}__surname-wrap js-${classComp}__surname-wrap`)
          +text-field(textField.surname)

      div(class=`${classComp}__gender-wrap`)
        +radio-buttons({
          flLabel:true
        })

      div(class=`${classComp}__date-wrap js-${classComp}__date-wrap`)
          +text-field(textField.date)

      fieldset(class=`${classComp}__identification`)
        legend(class=`${classComp}__data-text`) данные для входа в сервис

        div(class=`${classComp}__email-wrap js-${classComp}__email-wrap`)
          +text-field(textField.email)

        div(class=`${classComp}__pass-wrap js-${classComp}__pass-wrap`)
          +text-field(textField.password)

      div(class=`${classComp}__toggle-wrap`)
        +toggle-buttons(toggleButtons)

      div(class=`${classComp}__submit-wrap js-${classComp}__submit-wrap`)
        +buttons(buttons.submit)
        
      div(class=`${classComp}__sign-in`)
        p(class=`${classComp}__sign-in`) Уже есть аккаунт на Toxin
        +buttons(buttons.link)