include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../buttons/buttons.pug

mixin registration(options = {})
  -
    const {
      header = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'registration'
    let className = classComponent

    const {
      textField,
      toggleButtons,
      buttons,
    } = require('./registration.json');

    if(modifier){
      className += ` ${classComponent}_${modifier}`
    }
    if(addClass){
      className += ` ${addClass}`
    }

  article(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
        header(class=`${classComponent}__header-wrapper`)
          h1(class=`${classComponent}__header`)= header
    -}

    form(class=`${classComponent}__form` action='' method='post')
      fieldset(class=`${classComponent}__full-name`)

        div(class=`${classComponent}__name-wrapper js-${classComponent}__name-wrapper`)
          +text-field(textField.name)

        div(class=`${classComponent}__surname-wrapper js-${classComponent}__surname-wrapper`)
          +text-field(textField.surname)

      div(class=`${classComponent}__gender-wrapper`)
        +radio-buttons({
          isLabeled:true
        })

      div(class=`${classComponent}__date-wrapper js-${classComponent}__date-wrapper`)
          +text-field(textField.date)

      fieldset(class=`${classComponent}__identification`)
        legend(class=`${classComponent}__data-text`) данные для входа в сервис

        div(class=`${classComponent}__email-wrapper js-${classComponent}__email-wrapper`)
          +text-field(textField.email)

        div(class=`${classComponent}__password-wrapper js-${classComponent}__password-wrapper`)
          +text-field(textField.password)

      div(class=`${classComponent}__toggle-wrapper`)
        +toggle(toggleButtons)

      div(class=`${classComponent}__submit-wrapper js-${classComponent}__submit-wrapper`)
        +buttons(buttons.submit)
        
      div(class=`${classComponent}__sign-in`)
        p(class=`${classComponent}__sign-in`) Уже есть аккаунт на Toxin
        +buttons(buttons.link)