include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle-buttons/toggle-buttons.pug
include ../buttons/buttons.pug

mixin registration(options = {})
  -
    const {
      header = '',
      modifier = '',
      addClass = '',
      isLabeled,
    } = options;

    const classComponent = 'registration'
    let className = classComponent

    const data = require('./registration.json'); 

    const textField = data.textField
    const toggleButtons = data.toggleButtons
    const buttons = data.buttons

    if(modifier){
    className += ` ${classComponent}_${modifier}`}
    if(addClass){
    className += ` ${addClass}`}

  article(class=`${className} js-${classComponent}`)
    - if(!isLabeled){
    header(class=`${classComponent}__header-wrap`)
      h1(class=`${classComponent}__header`)= header
    -}

    form(class=`${classComponent}__form` action='' method='post')
      fieldset(class=`${classComponent}__full-name`)

        div(class=`${classComponent}__name-wrap js-${classComponent}__name-wrap`)
          +text-field(textField.name)

        div(class=`${classComponent}__surname-wrap js-${classComponent}__surname-wrap`)
          +text-field(textField.surname)

      div(class=`${classComponent}__gender-wrap`)
        +radio-buttons({
          isLabeled:true
        })

      div(class=`${classComponent}__date-wrap js-${classComponent}__date-wrap`)
          +text-field(textField.date)

      fieldset(class=`${classComponent}__identification`)
        legend(class=`${classComponent}__data-text`) данные для входа в сервис

        div(class=`${classComponent}__email-wrap js-${classComponent}__email-wrap`)
          +text-field(textField.email)

        div(class=`${classComponent}__pass-wrap js-${classComponent}__pass-wrap`)
          +text-field(textField.password)

      div(class=`${classComponent}__toggle-wrap`)
        +toggle-buttons(toggleButtons)

      div(class=`${classComponent}__submit-wrap js-${classComponent}__submit-wrap`)
        +buttons(buttons.submit)
        
      div(class=`${classComponent}__sign-in`)
        p(class=`${classComponent}__sign-in`) Уже есть аккаунт на Toxin
        +buttons(buttons.link)